<template>
<div>
	<header>
		<div class="container">
			<app-nav />

			<div class="content">
				<p class="content__title">Register</p>
				<div class="contact-form">
					<div class="contact-form__field mb-6">
						<input type="text" id="FIO" name="FIO" placeholder=" ">
						<label for="FIO">First and Last name</label>
					</div>
					<div class="contact-form__field">
						<input type="password" id="pwd" name="pwd" placeholder=" ">
						<label for="pwd">Password</label>
					</div>
					<div class="contact-form__field">
						<input type="password" id="pwd2"  name="pwd2" placeholder=" ">
						<label for="pwd2">Repeat password</label>
					</div>
					<div class="contact-form__checkbox">
						<input type="checkbox" id="agree" name="agree">
						<label for="agree">
							You agree with our
							<a href="#">Terms</a>
							and
							<a href="#">Privacy</a>
							.
						</label>
					</div>
					<div class="contact-form__checkbox">
						<input type="checkbox" id="noncitizen" name="noncitizen">
						<label for="noncitizen">
							I verify that I am not a citizen of the U.S. or Singapore.
						</label>
					</div>
					<a href="#" type="submit" class="signup-btn signup-btn_yellow">
						Continue
					</a>
				</div>
			</div>
		</div>
	</header>
	<app-footer />
</div>
</template>

<script>
import AppFooter from "~/components/AppFooter.vue";
import AppNav from "~/components/AppNav.vue";

export default {
	components: {
		"app-footer": AppFooter,
		"app-nav": AppNav
	}
}
</script>