<header>
	<div class="container" style="position: relative;">
		<img src="./img/elements.png" srcset="./img/elements@2x.png 2x, ./img/elements@3x.png 3x" class="ico__back" style="top: 35%">
		<nav class="row align-items-center nav">
			<a href="/" class="col-lg-5 col-md-12 nav__logo">
				<svg class="nav__logo-img">
					<use xlink:href="#logo"></use>
				</svg>
				<span
					class="nav__logo-greeting"
					data-text="Hi, I’m FrankTaxi Bot! 🚖">
				</span>
			</a>
			<div class="col-lg-7 col-md-12 nav__menu">
				<a href="/about-us.html" class="nav__menu-link">
					About
				</a>
				<a href="/#ico" class="nav__menu-link">
					ICO
				</a>
				<a href="/#bounty" class="nav__menu-link">
					Bounty
				</a>
				<a href="/#roadmap" class="nav__menu-link">
					Roadmap
				</a>
				<a href="/#team" class="nav__menu-link">
					Team
				</a>
				<a href="/#contact" class="nav__menu-link">
					Contact us
				</a>
				<a href="/#white" class="nav__menu-link">
					White paper
				</a>
			</div>
		</nav>

		<div class="row about-us-header" id="app--chat">
			<div class="col-sm-12 col-md-5 about-us-header__image">
				<img
					src="./img/iphone.png"
					srcset="
						./img/iphone@2x.png 2x,
						./img/iphone@3x.png 3x"
					class="">
				<video autoplay loop muted>
					<source src="./files/about-us.mov" type="video/mp4">
				</video>
			</div>

			<app-chat></app-chat>
		</div>

	</div>
</header>

<script type="text/x-template" id="app-chat-template">
	<div class="col-sm-12 col-md-7 chat">
		<template v-for="message in messages">
			<div class="chat__block">
				<p class="chat__question wow written"
					v-bind:data-text="message.question"></p>
				<p class="chat__date">{{ message.q_date }}</p>
			</div>
			<div class="typing" v-if="message.typing">
				<span class="typing__circle"></span>
				<span class="typing__circle"></span>
				<span class="typing__circle"></span>
			</div>
			<div v-if="!message.typing" class="chat__block chat__block_show animated" v-bind:style="message.transition">
				<p class="chat__answer">{{ message.answer }}</p>
				<p class="chat__date">{{ message.a_date }}</p>
			</div>
		</template>
	</div>
</script>
