<div class="about-us-success" id="app--about-us-success">
	<div class="container">
		<div class="row">
			<div class="col-5 hide-md">
			</div>
			<div class="col-lg-7 col-md-12">
				<div class="about-us-success__message">
					<app-single-question
						question="Вопрос?"
						q_date="today, 4:30 pm"
						answer="With Frankly Partnership:"
						a_date="today, 4:31 pm"
						to_next_node="chat__about-us-success"
						to_next_class="chat__about-us-success_show">

						<ul class="chat__about-us-success">
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									No need to switch to a different app;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									No need to spend time on looking for a good taxi service;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									Know how much you'll spend on the ride; 
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									No additional fees.
								</span>
							</li>
						</ul>

					</app-single-question>
				</div>
			</div>
		</div>
	</div>
</div>