<div class="about-us-problems" id="app--about-us-problems">
	<div class="container">
		<div class="row">
			<div class="col-5 hide-md">
			</div>
			<div class="col-lg-7 col-md-12">
				<div class="about-us-problems__message">
					<app-single-question
						question="Pretty cool! But I'm not a taxi company, what's in it for me?"
						q_date="today, 4:28 pm"
						answer="Let's say you're an avid traveller - you've arrived at the
airport of your destination, you need a ride and you face
the following issues:"
						a_date="today, 4:29 pm"
						to_next_node="chat__about-us-problems"
						to_next_class="chat__about-us-problems_show">

						<ul class="chat__about-us-problems">
							<li>
								<svg>
									<use xlink:href="#cancel"></use>
								</svg>
								<span>
									The taxis near the airport's exits look suspicious;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#cancel"></use>
								</svg>
								<span>
									None of taxi apps you have work there;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#cancel"></use>
								</svg>
								<span>
									If you use the taxis near the exit, you're not sure you won't be charged more than you can afford;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#cancel"></use>
								</svg>
								<span>
									If you decide to use an app, you'll have to spend time to make a research on them and even then you can't be sure.
								</span>
							</li>
						</ul>

					</app-single-question>
				</div>
			</div>
		</div>
	</div>
</div>