<div class="about-us-contacts" id="app--about-us-contacts">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="about-us-contacts__message">
					<app-single-question
						question="You have my vote! When can I finally use it?"
						q_date="today, 4:34 pm"
						answer="Frankly Partnership will be launched in Q4 2018. For updates
and more specific information, subscribe to our newsletter:"
						a_date="today, 4:35 pm"
						to_next_node="input-email"
						to_next_class="input-email_show">

						<form class="input-email input-email_blue input-email_mini">
							<input
								type="email"
								class="input-email__field"
								placeholder="Введите свою электронную почту">
							<button
								type="submit"
								class="input-email__submit">
								<svg>
									<use xlink:href="#send"></use>
								</svg>
							</button>
						</form>
						
					</app-single-question>
				</div>
			</div>
		</div>
	</div>
</div>