<section class="bounty" id="bounty">
	<div class="bounty__container">
		<p class="bounty__title">
			Bounty
		</p>
		<p class="bounty__subtitle">
			2% of tokens are reserved for the Bounty campaign
		</p>

		<app-bounty-cards></app-bounty-cards>
	</div>
</section>

<script type="text/x-template" id="app-bounty-cards-template">
	<div class="bounty__cards">
		<div class="bounty__card bounty-card" v-for="card in cards">
			<p class="bounty-card__cost">
				{{ card.cost }}%
			</p>
			<p class="bounty-card__description">
				<template v-for="line in card.description">
					{{ line }}</br>
				</template>
			</p>
		</div>
	</div>
</script>