<footer class="footer-holder">
  <div class="container">
    <div class="footer">

      <div class="footer__logo">
        <a href="/" class="footer__logo-link">
          <svg><use xlink:href="#logo"></use></svg>
        </a>
        <p>
          <span class="footer__logo-cpy">Copyright © 2018. All Rights Reserved.</span>
          <span class="footer__logo-email">
            Email: <a href="mailto:info@franktaxibot.com">info@franktaxibot.com</a>
          </span>
        </p>
      </div>

      <div class="footer__docs">
        <a href="#">Privacy policy</a>
        <a href="#">Terms of us</a>
      </div>

      <div class="footer__soc-links">
        <a href="#"><svg><use xlink:href="#bitcoin"></use></svg></a>
        <a href="#"><svg><use xlink:href="#soc-twitter"></use></svg></a>
        <a href="#"><svg><use xlink:href="#reddit"></use></svg></a>
        <a href="#"><svg><use xlink:href="#telegram"></use></svg></a>
        <a href="#"><svg><use xlink:href="#soc-fb"></use></svg></a>
      </div>

      <div class="footer__ltd">
        <img src="./img/taxi2.svg">
        <p>This website belongs to Frank Taxi Bot Ltd., Registration No. 10371414W</p>
      </div>

    </div>

  </div>
</footer>
