<header>
	<div class="container">
		<nav class="row align-items-center nav">
			<a href="/" class="col-lg-5 col-md-12 nav__logo">
				<svg class="nav__logo-img">
					<use xlink:href="#logo"></use>
				</svg>
				<span
					class="nav__logo-greeting"
					data-text="Hi, I’m FrankTaxi Bot! 🚖">
				</span>
			</a>
			<div class="col-lg-7 col-md-12 nav__menu">
				<a href="/about-us.html" class="nav__menu-link">
					About
				</a>
				<a href="/#ico" class="nav__menu-link">
					ICO
				</a>
				<a href="/#bounty" class="nav__menu-link">
					Bounty
				</a>
				<a href="/#roadmap" class="nav__menu-link">
					Roadmap
				</a>
				<a href="/#team" class="nav__menu-link">
					Team
				</a>
				<a href="/#contact" class="nav__menu-link">
					Contact us
				</a>
				<a href="/#white" class="nav__menu-link">
					White paper
				</a>
			</div>
		</nav>

		<div class="success-send">
			<div class="success-send__message">
				<svg>
					<use xlink:href="#sent"></use>
				</svg>
				
				<p class="success-send__title">
					Thank you!
				</p>

				<p class="success-send__description">
					A verification email was sent to your email address to complete your sign up.
				</p>

				<p class="success-send__description">
					Confirm your authenticity and gain access.
				</p>

				<button class="success-send__button">
					Great thanks
				</button>
			</div>
		</div>
	</div>
</header>
