<meta property="og:type" content="website">
<meta property="og:url" content="http://example.com">
<meta property="og:image" content="http://example.com/img/banner.jpg">
<meta property="og:title" content="Example Title">
<meta property="og:description" content="Example Description">
<meta name="format-detection" content="telephone=no">