<header>
	<div class="container header--home">
		<nav class="row align-items-center nav">
			<a href="/" class="col-lg-5 col-md-12 nav__logo">
				<svg class="nav__logo-img">
					<use xlink:href="#logo"></use>
				</svg>
				<span
					class="nav__logo-greeting"
					data-text="Hi, I’m FrankTaxi Bot! 🚖">
				</span>
			</a>
			<div class="col-lg-7 col-md-12 nav__menu">
				<a href="/about-us.html" class="nav__menu-link">
					About
				</a>
				<a href="#" class="nav__menu-link navigation" data-nav="ico">
					ICO
				</a>
				<a href="#" class="nav__menu-link navigation" data-nav="bounty">
					Bounty
				</a>
				<a href="#" class="nav__menu-link navigation" data-nav="roadmap">
					Roadmap
				</a>
				<a href="#" class="nav__menu-link navigation" data-nav="team">
					Team
				</a>
				<a href="#" class="nav__menu-link navigation" data-nav="contact">
					Contact us
				</a>
				<a href="#" class="nav__menu-link navigation" data-nav="white">
					White paper
				</a>
			</div>
		</nav>

		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h1 class="wow written" data-text = "Saving the taxi industry - one company at a time.
					FrankCoin (FRK) - security and exclusive bonuses token.">
				</h1>

				<div class="equal-width">
					<form class="input-email input-email_yellow">
						<input type="email" class="input-email__field" placeholder="Enter your e-mail to subscribe to our newsletter">
						<button type="submit" class="input-email__submit">
							<svg><use xlink:href="#send"></use></svg>
						</button>
					</form>

					<div id="timer" class="timer">
						<app-timer todate="25 March 2018"></app-timer>
					</div>
				</div>

				<a href="register1.html" class="signup-btn signup-btn_yellow">
					Sign up for a White List
					<svg class="signup-btn__arrow"><use xlink:href="#login-arrow"></use></svg>
				</a>
			</div>

			<div class="col-6 map-holder">
				<div class="map"></div>
				<div class="docs">
					<a class="doc" href="#">
						<svg class="doc__icon"><use xlink:href="#pdf"></use></svg>
						<span class="doc__text">Download White Paper EN</span>
					</a>
					<a class="doc" href="#">
						<svg class="doc__icon"><use xlink:href="#pdf"></use></svg>
						<span class="doc__text">Download Business Model EN</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</header>
