<header>
	<div class="container">
		<nav class="row align-items-center nav">
			<a href="/" class="col-lg-5 col-md-12 nav__logo">
				<svg class="nav__logo-img">
					<use xlink:href="#logo"></use>
				</svg>
				<span
					class="nav__logo-greeting"
					data-text="Hi, I’m FrankTaxi Bot! 🚖">
				</span>
			</a>
			<div class="col-lg-7 col-md-12 nav__menu">
				<a href="/about-us.html" class="nav__menu-link">
					About
				</a>
				<a href="/#ico" class="nav__menu-link">
					ICO
				</a>
				<a href="/#bounty" class="nav__menu-link">
					Bounty
				</a>
				<a href="/#roadmap" class="nav__menu-link">
					Roadmap
				</a>
				<a href="/#team" class="nav__menu-link">
					Team
				</a>
				<a href="/#contact" class="nav__menu-link">
					Contact us
				</a>
				<a href="/#white" class="nav__menu-link">
					White paper
				</a>
			</div>
		</nav>

		<div class="content">
			<p class="content__title">Register</p>
			<div class="contact-form">
				<div class="contact-form__field mb-6">
					<input type="text" id="FIO" name="FIO" placeholder=" ">
					<label for="FIO">First and Last name</label>
				</div>
				<div class="contact-form__field">
					<input type="password" id="pwd" name="pwd" placeholder=" ">
					<label for="pwd">Password</label>
				</div>
				<div class="contact-form__field">
					<input type="password" id="pwd2"  name="pwd2" placeholder=" ">
					<label for="pwd2">Repeat password</label>
				</div>
				<div class="contact-form__checkbox">
					<input type="checkbox" id="agree" name="agree">
					<label for="agree">You agree with our <a href="#">Terms</a> and <a href="#">Privacy</a>.</label>
				</div>
				<div class="contact-form__checkbox">
					<input type="checkbox" id="noncitizen" name="noncitizen">
					<label for="noncitizen">I verify that I am not a citizen of the U.S. or Singapore</a>.</label>
				</div>
				<a href="#" type="submit" class="signup-btn signup-btn_yellow">Continue</a>
			</div>
		</div>
	</div>
</header>
