<div class="ico" id="ico">
	<img src="./img/elements.png" srcset="./img/elements@2x.png 2x, ./img/elements@3x.png 3x" class="ico__back">
	<p class="ico__title">ICO</p>
	<div class="ico__shortly">
		<div class="ico__brand"><img src="./img/coin.png"></div>
		<p class="ico__shortly-story">FrankCoin (FRK) - security token, which total count represents 15% of company's shares. By the end of each financial year, 15% of income will be distributed throughout token holders ETH wallets. All unsold tokens will be destroyed.</p>
	</div>
</div>