<div class="ico ico__structure">
	<p class="ico__stitle">ICO Structure</p>
	<div class="ico__graph">
		<div class="graph graph__bounty graph__bounty_active">
			<div class="graph__line"></div>
			<div class="graph__dot"></div>
			<p class="graph__title">Bounty</p>
			<p class="graph__percent">2%</p>
		</div>
		<div class="graph graph__FT graph__FT_active">
			<div class="graph__line"></div>
			<div class="graph__dot"></div>
			<p class="graph__title">Founders & Team</p>
			<p class="graph__percent">8%</p>
		</div>
		<div class="graph graph__bakers graph__bakers_active">
			<div class="graph__line graph__line_animate"></div>
			<div class="graph__dot"></div>
			<p class="graph__title">Bakers</p>
			<p class="graph__percent">90%</p>
		</div>
	</div>
</div>