<div class="mail-logo">
	<svg class="nav__logo-img">
		<use xlink:href="#logo"></use>
	</svg>
</div>

<div class="mail-content">
	<div class="mail-content__notification">
		<p class="mail-content__name">
			Hi Anton ✌️,
		</p>
		<p class="mail-content__message">
			Welcome aboard to the world’s first Taxi Bot.<br class="hide-sm" />
			Confirm your Sign Up and gain access:
		</p>
		<a class="mail-content__button">
			Confirm your Sign up
		</a>
		<div class="mail-content__separator"></div>
		<div class="mail-content__print">
			<p>
				Frank Taxi Bot<br/>
				Team
			</p>
			<img
				src="img/stamp.png"
				srcset="
					img/stamp@2x.png 2x,
					img/stamp@3x.png 3x">
		</div>
		<img
			class="mail-content__image"
			src="img/pattern.png"
			srcset="
				img/pattern@2x.png 2x,
				img/pattern@3x.png 3x">
	</div>
	<div class="mail-footer">
        <img src="./img/taxi2.svg">
		<p>
			Frank Taxi Bot Ltd., Registration No. 10371414W<br/>
			Have anything to ask? Feel free to contact us at <a href="mailto:info@franktaxibot.com">info@franktaxibot.com</a>
		</p>
		<div class="mail-footer__shared">
			<div>
				<a href="#">
					<svg>
						<use xlink:href="#bitcoin"></use>
					</svg>
				</a>
				<a href="#">
					<svg>
						<use xlink:href="#soc-twitter"></use>
					</svg>
				</a>
				<a href="#">
					<svg>
						<use xlink:href="#reddit"></use>
					</svg>
				</a>
				<a href="#">
					<svg>
						<use xlink:href="#telegram"></use>
					</svg>
				</a>
				<a href="#">
					<svg>
						<use xlink:href="#soc-fb"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>