<ul class="numbers wow step-by-step">
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Tokens Issued:</p>
			<p class="numbers__value">105 000 000 FRK</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">1st Token Sale:</p>
			<p class="numbers__value">11 550 000 FRK</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Soft Cap:</p>
			<p class="numbers__value">$2 505 000</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Hard Cap:</p>
			<p class="numbers__value">$4 000 000</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Price per 1 FRK:</p>
			<p class="numbers__value">$0,21</p>
		</div>
	</li>
</ul>