<section class="problems" id="problems">
	<app-problems></app-problems>
</section>

<script type="text/x-template" id="app-problems-template">
	<div class="container">
		<div class="row justify-content-between align-items-center problems__content">
			<template v-for="(tab, index) in tabs">
				<button class="problems__item-trigger"
						:class="{'problems__item-trigger_active': tab.active}"
						v-on:click="active(index)">
					{{ tab.name }}
				</button>
				<svg class="problems__item-separator">
					<use xlink:href="#dots"></use>
				</svg>
			</template>
		</div>
		<template v-for="tab in tabs">
			<ul class="problems__info-holder" v-if="tab.active">
				<li class="problems__item-info" v-for="info in tab.info">
					{{ info }}
				</li>
			</ul>
		</template>
	</div>
</script>