<section class="roadmap" id="roadmap">

	<img src="./img/elements.png" srcset="./img/elements@2x.png 2x, ./img/elements@3x.png 3x" class="roadmap__back">

	<div class="roadmap__container">
		<p class="roadmap__title">
			Roadmap
		</p>
		<p class="roadmap__description">
			Further geographical development of the project depends solely from our investors. Countries indicated the most throughout the campaign are going to be prioritized when integrating with new taxi companies.
		</p>
	</div>

	<app-roadmap></app-roadmap>

</section>

<script type="text/x-template" id="app-roadmap-template">
	<div class="container">
		<div class="roadmap__row">
			<template v-for="(tab, index) in tabs">
				<button class="roadmap__item-trigger"
						:class="{'roadmap__item-trigger_active': tab.active}"
						v-on:click="active(index)">
					{{ tab.name }}
				</button>
				<svg class="roadmap__item-separator">
					<use xlink:href="#red-dots"></use>
				</svg>
			</template>
		</div>
		<template v-for="tab in tabs">
			<ul class="roadmap__info-holder" v-if="tab.active">
				<li class="roadmap__item-info" v-for="info in tab.info">
					{{ info }}
				</li>
			</ul>
		</template>
	</div>
</script>