<div class="steps" id="app--steps">
	<div class="steps__container">
		<app-single-question
			question="What's Frankly Partnership?"
			q_date="today, 4:24 pm"
			answer="Frankly Partnership allows taxi services to exchange orders all around the globe   🌍"
			a_date="today, 4:25 pm"
			to_next_node="style-scroll"
			to_next_class="style-scroll_show">
		</app-single-question>
	</div>
	<div class="style-scroll animated">
		<div class="steps-block" id="app--steps-block">
			<div class="steps-block__tooltip tooltip">
				<div class="tooltip__content">
					<p class="tooltip__num">1</p>
					<div class="tooltip__message">
						<p class="tooltip__description">
							Customer orders a taxi through 
							<span class="tooltip__description_color">
								“Partner app 1”
							</span>
							<br>
							that doesn't work in that location
						</p>
						<div class="tooltip__buttons">
							<button class="tooltip__next">
								Next
							</button>
							<button class="tooltip__cancel">
								Cancel
							</button>
						</div>
					</div>
				</div>
				<div class="tooltip__arrow"></div>
			</div>
			<div class="steps-block__header">
				<div class="step-1" data-step="1">
					<p>
						Через приложение <br/>
						или такси-бота
					</p>
					<svg>
						<use xlink:href="#arrow-1"></use>
					</svg>
				</div>
				<div class="step-2" data-step="2|3">
					<p>
						Деньги отправляются <br/>
						напрямую исполнителю
					</p>
					<svg>
						<use xlink:href="#arrow-2"></use>
					</svg>
				</div>
			</div>
			<div class="steps-block__body">
				<div class="step-1" data-step="1|6">
					<svg>
						<use xlink:href="#client"></use>
					</svg>
				</div>
				<div class="step-1-next" data-step="1|6">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-2" data-step="1|2|5|6">
					<svg>
						<use xlink:href="#group-51"></use>
					</svg>
					<svg>
						<use xlink:href="#partner-app"></use>
					</svg>
					<svg>
						<use xlink:href="#logo"></use>
					</svg>
					<div class="text">
						<img src="./img/uk@2x.png">
						<p>Лондон</p>
					</div>
					<ul>
						<li>Партнёрское приложение</li>
						<li>Такси-бот</li>
					</ul>
				</div>
				<div class="step-2-next" data-step="2">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-3" data-step="2|3|4|5">
					<svg>
						<use xlink:href="#partnership-2"></use>
					</svg>
				</div>
				<div class="step-3-next" data-step="3">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-4" data-step="3|4">
					<svg>
						<use xlink:href="#group-51"></use>
					</svg>
					<svg>
						<use xlink:href="#taxi-soft"></use>
					</svg>
					<div class="text">
						<img src="./img/usa@2x.png">
						<p>Нью&nbsp;Йорк</p>
					</div>
					<ul>
						<li>ПО диспетчеризации иностранной такси</li>
					</ul>
				</div>
				<div class="step-4-next" data-step="3">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-5" data-step="3|6">
					<img src="./img/taxi.svg">
				</div>
			</div>
			<div class="steps-block__footer">
				<div class="step-5" data-step="4">
					<p>
						Заказы отдаются в кредит. При<br>
						достижении кредитного лимита<br>
						происходит автоматическое<br>
						пополнение с кредитной карты<br>
						компании
					</p>
					<svg>
						<use xlink:href="#arrow-3"></use>
					</svg>
				</div>
				<div class="step-6" data-step="5">
					<p>
						Комиссия передающей стороны<br>
						зачисляется на баланс<br>
						автоматический в течение<br>
						24 часов после получения<br>
						оплаты от исполнителя
					</p>
					<svg>
						<use xlink:href="#arrow-3"></use>
					</svg>
				</div>
				<div class="step-all">
					<p>
						<b>Способ оплаты 2</b><br>
						наличными таксисту
					</p>
					<svg>
						<use xlink:href="#arrow-big"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/x-template" id="app-one-question">
	<div class="app--message">
		<template v-for="message in wait">
			<div class="chat__block">
				<p class="chat__question wow written"
					v-bind:data-text="message.question"></p>
				<p class="chat__date">{{ message.q_date }}</p>
			</div>
			<div class="chat__block chat__block_show animated" :class="{'chat__block_hide': !message.show}" v-bind:style="message.transition">
				<p class="chat__answer">{{ message.answer }}</p>
				<p class="chat__date">{{ message.a_date }}</p>
			</div>
			<slot></slot>
		</template>
	</div>
</script>