<section id="team" class="team">
  <div class="container">

    <h2 class="team__title">Advisors</h2>

    <div class="team__members">
      <div class="team__member">
        <img src="./img/audrey.png" class="team__member-photo">
        <h3 class="team__member-name">Audrey Raby</h3>
        <p class="team__member-desc">
          Nash. agency Founder and CEO. Crypto.tickets and anryze advisor
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <div class="team__member">
        <img src="./img/cal.png" class="team__member-photo">
        <h3 class="team__member-name">Cal Evans</h3>
        <p class="team__member-desc">
          Managing Consultant and Lawyer at Gresham International, founder of The Cryptocurrency Academy
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <div class="team__member">
        <img src="./img/ihor.png" class="team__member-photo">
        <h3 class="team__member-name">Ihor Pidruchny</h3>
        <p class="team__member-desc">
          CEO of Letzgro
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <div class="team__member">
        <img src="./img/steve.png" class="team__member-photo">
        <h3 class="team__member-name">Steve Stanley</h3>
        <p class="team__member-desc">
          CEO of PDR
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <hr class="team__separator" size="1">

    </div>

    <h2 class="team__title">Our team</h2>

    <div class="team__members">
      <div class="team__member">
        <img src="./img/morev.png" class="team__member-photo">
        <h3 class="team__member-name">Dmitrij Morev</h3>
        <p class="team__member-desc">
          CEO, Founder, Shareholder. 12 years of serial entrepreneurship
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <div class="team__member">
        <img src="./img/ruslan.png" class="team__member-photo">
        <h3 class="team__member-name">Ruslan Zavatsky</h3>
        <p class="team__member-desc">
          CTO, Shareholder. Personal banking Architect and CTO in Dukascopy BankSA, 5 startups
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <div class="team__member">
        <img src="./img/anton.png" class="team__member-photo">
        <h3 class="team__member-name">Anton Mironov</h3>
        <p class="team__member-desc">
          PR-Manager.<br>2 startups
        </p>
        <a href="#" class="team__member-linkedin">
          <svg><use xlink:href="#linkedin"></use></svg>
        </a>
      </div>

      <div class="team__member">
        <a href="#" class="team__member-new navigation" data-nav="contact"></a>
        <h3 class="team__member-name">Maybe you?</h3>
        <p class="team__member-desc">
          We’re also looking for great people to come and help build the dream
        </p>
      </div>
    </div>

  </div>
</section>
