<section class="about-video" data-youtubeVideo="D4Zozbw0wYE">
	<h2 class="about-video__title">About Frank</h2>
	<button class="about-video__play-btn">
		<svg><use xlink:href="#play"></use></svg>
	</button>
</section>
