<section class="whatwe-holder">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 whatwe whatwe_have">
        <h2 class="whatwe__title">What we have:</h2>
        <ul class="whatwe__list">
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#bot"></use></svg>
            Facebook<br>Messenger Taxi Bot
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#partnership"></use></svg>
            Taxi Partnership order<br>sharing system
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#whitelabel"></use></svg>
            White-label taxi bot<br>solution for taxi services
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#software"></use></svg>
            Tests of our software<br>with current partners
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#worldwide"></use></svg>
            30 companies worldwide<br>integrating into our<br>system
          </li>
        </ul>
      </div>

      <div class="col-lg-6 whatwe whatwe_want">
        <h2 class="whatwe__title">What we want:</h2>
        <ul class="whatwe__list">
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#bitcoin"></use></svg>
            Adopt cryptocurrencies<br>as a regular payment for<br>taxi services
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#browser"></use></svg>
            Provide a free white-label<br>cryptocurrency adoption<br>solution for taxi services
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#pie"></use></svg>
            Accommodate 30% of<br>the companies in taxi industry
          </li>
          <li class="whatwe__list-item">
            <svg class="whatwe__list-item-icon"><use xlink:href="#db"></use></svg>
            50 million users<br>worldwide
          </li>
        </ul>
        <a href="/register.html" class="signup-btn signup-btn_pink">
          Sign up for a White List
          <svg class="signup-btn__arrow"><use xlink:href="#login-arrow-white"></use></svg>
        </a>
      </div>

    </div>
  </div>
</section>
