/** Proxima Nova **/



@font-face {
    font-family: 'Proxima Nova';
    /*src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-black-webfont.eot');*/
    /*src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-black-webfont.eot?#iefix') format('embedded-opentype')*/
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-black-webfont.woff2') format('woff2');
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-black-webfont.woff') format('woff'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-black-webfont.ttf') format('truetype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-black-webfont.svg#proxima_nova_altblack') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-bold-webfont.eot');
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-bold-webfont.woff2') format('woff2'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-bold-webfont.woff') format('woff'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-bold-webfont.ttf') format('truetype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-regular-webfont.eot');
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-regular-webfont.woff2') format('woff2'),*/
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-regular-webfont.woff') format('woff'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-regular-webfont.ttf') format('truetype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-alt-regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2015 */



@font-face {
    font-family: 'Proxima Nova';
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-scosf-thin-webfont.eot');
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-scosf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-scosf-thin-webfont.woff2') format('woff2'),*/
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-scosf-thin-webfont.woff') format('woff'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-scosf-thin-webfont.ttf') format('truetype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-scosf-thin-webfont.svg#proxima_nova_scosfthin') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Proxima Nova';
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-semibold-webfont.eot');
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-semibold-webfont.woff2') format('woff2'),
         /*url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-semibold-webfont.woff') format('woff'),*/
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-semibold-webfont.ttf') format('truetype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-thin-webfont.eot');
    src: url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-thin-webfont.woff2') format('woff2'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-thin-webfont.woff') format('woff'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-thin-webfont.ttf') format('truetype'),
         url('~/static/ProximaNova/proxima-nova-web-fonts-master/fonts/proxima-nova-thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
