.about-us-header
	margin-top 60px
	padding-bottom 60px
	
	// @media screen and (max-height: 700px)
	// 	margin-top 10px
	// 	padding-bottom 0px
	
	+screen-sm()
		flex-wrap wrap-reverse
		margin-top 0
	
	&__image
		position relative
		text-align center
		z-index 2
		
		img
			width 100%
			max-width 280px
			height 575px
			
		video
			position absolute
			background-color black
			left 50%
			transform translateX(-50%)
			top 15px
			width 244px
			max-width calc(100% - 66px)
			border-radius 25px
			height 530px