.about-us-problems
	background-color bg-pink
	padding 90px 0 160px
	
	+screen-sm()
		padding 20px 0
	
.about-us-success
	background-color bg-green
	padding 90px 0 160px
	
	+screen-sm()
		padding 20px 0
	
.about-us-using
	background-color #2b1829
	padding 90px 0 160px
	
	+screen-sm()
		padding 20px 0
	
.about-us-contacts
	background-color bg-eggplant
	padding 90px 0 100px
	height 100%
	
	+screen-sm()
		padding 20px 0