.bounty-card
	text-align center
	padding 0px 75px
	margin-bottom 70px
	
	+screen-lg()
		padding 0 20px
		margin-bottom 25px

	&__description, &__cost
		font-family Roboto
		font-style normal
		font-stretch normal
		letter-spacing normal
		text-align center

	&__description
		font-size 16px
		font-weight normal
		line-height 1.19
		color text-gray
		margin-bottom 0
		
	&__cost
		font-size 28px
		font-weight bold
		line-height 1
		color text-main
		width 110px
		margin 0 auto 15px
		border 10px solid rgba(#e56ea0, 0.4)
		line-height 90px
		border-radius 100%