.bounty
	padding 60px 0
	background-color white
	
	&__container
		width 100%
		margin 0 auto
		
		@media screen and (min-width: 576px)
			max-width 540px
		
		@media screen and (min-width: 768px)
			max-width 720px
		
		@media screen and (min-width: 992px)
			max-width 960px
		
		@media screen and (min-width: 1200px)
			max-width 1140px

	&__title, &__subtitle
		text-align center
		font-family Roboto
		font-size 26px
		font-style normal
		font-stretch normal
		color text-main

	&__title
		margin 0 0 0.5em
		font-weight bold
		line-height 1
		letter-spacing 1px

	&__subtitle
		margin 0 0 60px
		font-weight normal
		line-height 1.19
		letter-spacing normal
		
	&__cards
		display flex
		flex-direction row
		justify-content center
		flex-wrap wrap
		align-items flex-start
		visibility visible !important
		
	&__card
		width 25%
		
		+screen-sm()
			width calc( 100% / 3 )
			
		+screen-xs()
			width 50%