.chat
	padding-top 70px

	&__block
		display flex
		flex-direction column
		flex-wrap nowrap
		margin-bottom 20px
		
		// @media screen and (max-height: 700px)
		// 	margin-bottom 0

		&_hide
			opacity 0

		&_show
			opacity 0

	&__question
		font-family Roboto
		font-size 18px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height 1.61
		letter-spacing normal
		text-align left
		color yellow
		align-self flex-end
		margin-bottom 0

		& + .chat__date
			align-self flex-end

	&__date
		opacity 0.4
		font-family Roboto
		font-size 8px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height 2
		letter-spacing normal
		text-align left
		color white
		text-transform uppercase
		margin-bottom 0

	&__answer
		font-family Roboto
		font-size 18px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.44
		letter-spacing normal
		text-align left
		color white
		align-self flex-start
		margin-bottom 0
		white-space pre-line

		+screen-lg()
			white-space normal

		& + .chat__date
			align-self flex-start

	&__about-us-problems, &__about-us-success, &__about-us-success2
		padding 0
		margin 0
		margin-top 100px
		list-style none
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		
		&_show
			animation-fill-mode both
			animation-duration 500ms
			animation-name fadeInLeft

		+screen-sm()
			margin-top 40px

		li
			width calc(50% - 50px)
			margin-bottom 40px
			color white
			padding-left 50px
			font-family Roboto
			font-size 16px
			font-weight normal
			font-style italic
			font-stretch normal
			line-height 1.31
			letter-spacing normal
			text-align left
			color #672440
			position relative

			+screen-sm()
				width 100%

			svg
				width 30px
				height 30px
				position absolute
				top 0
				left 0

	&__about-us-success, &__about-us-success2
		margin-top 60px
		position relative

		li
			line-height 1.44
			color #043930

			&.chat__about-us-success, &.chat__about-us-success2
				&_title
					font-family Roboto
					font-size 18px
					font-style normal
					font-stretch normal
					text-align left
					padding 0
					color green

				&_white
					font-family Roboto
					font-size 18px
					font-weight bold
					font-style normal
					font-stretch normal
					line-height 1.44
					letter-spacing normal
					text-align left
					color white
					margin-bottom 60px

					+screen-xs()
						span br
							display none

		&_line
			position absolute
			left 45%
			width 30px
			bottom 0.75em
			height calc(100% - 2em)
			color #4b5053

.chat_show
	+screen-lg()
		min-height 575px
	+screen-xs()
		min-height 675px
	
.app--message_show, .chat_show
	.chat__block_show
		animation-fill-mode both
		animation-duration 500ms
		animation-name fadeInDown


@keyframes fadeInDown
	from
		opacity 0
		transform translate3d(0, -100%, 0)
	to
		opacity 1
		transform translate3d(0, 0, 0)