.contact
  background #fff
  padding 3.75em
  text-align center
  box-shadow 0 0 30px rgba(black, .2)

  &-title
    margin-bottom 1em
    color text-main

  &-form
    max-width 580px
    margin auto

    &__field
      display: block
      position: relative
      margin 1em 0

      input
        width 100%
        background transparent
        color text-main
        font-size: 1.125em
        padding: 1em 0 .3em
        border: 0
        border-bottom: 2px solid rgba(orange, .5)
        outline none
        placeholder(rgba(black, .2))
        &:focus
          border-color: orange

        &::placeholder
          opacity: 1

        &:placeholder-shown:not(:focus)::placeholder
          opacity 0

        &:placeholder-shown:not(:focus) + label
          top: 1.5em

      label
        font-size: .875em

        position: absolute
        top: -5px
        left: 0

        cursor: text
        transition: all .3s ease

    &__submit
      background orange

      width 11em
      height 3em
      padding 0
      border none
      border-radius 1.5em
      margin 2em 0 1em

      color white
      font-size 1.125em
      font-weight 700

      cursor pointer
      transition all .3s ease
      &:hover
        background darken(orange, 15%)
    
    &__checkbox
      input[type="checkbox"]
        position absolute
        left -9999px
      
      label
        color darken(white, 20)
        font-size 12px
        cursor pointer
        padding-left 34px
        position relative
        letter-spacing: normal;
        
        &:before
          position absolute
          left 0
          top 50%
          transform translateY(-50%)
          content ""
          width 20px
          height 20px
          border 2px solid #d8d8d8
        
        &:after
          position absolute
          left 5px
          top 50%
          transform translateY(-50%)
          width 10px
          height 10px
          background-color #fed91f

        ^[2] input:checked+label
          
          &:after
            content "" 
        
        a
          color darken(#fed91f, 20)
          &:hover
            text-decoration underline