@font-face
    font-family 'Roboto'
    src url('../files/Roboto-Bold.eot')
    src local('Roboto Bold'), local('Roboto-Bold'),
        url('../files/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../files/Roboto-Bold.woff2') format('woff2'),
        url('../files/Roboto-Bold.woff') format('woff'),
        url('../files/Roboto-Bold.ttf') format('truetype'),
        url('../files/Roboto-Bold.svg#Roboto-Bold') format('svg')
    font-weight bold
    font-style normal

@font-face
    font-family 'Roboto'
    src url('../files/Roboto-Light.eot')
    src local('Roboto Light'), local('Roboto-Light'),
        url('../files/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../files/Roboto-Light.woff2') format('woff2'),
        url('../files/Roboto-Light.woff') format('woff'),
        url('../files/Roboto-Light.ttf') format('truetype'),
        url('../files/Roboto-Light.svg#Roboto-Light') format('svg')
    font-weight 400
    font-style normal