.footer-holder
  background bg-gray
  padding 2.5em 0
  font-size .875em

  a
    color yellow
    &:hover:not(.footer__soc-link)
      text-decoration underline

  svg, img
    width 40px
    height 40px

.footer
  display flex
  flex-wrap wrap
  justify-content space-between
  +screen-md()
    flex-direction column

  &__logo
    display flex
    justify-content space-between
    +screen-md()
      justify-content center

    &-cpy,
    &-email
      display block
      margin .6em 0 1em 1em
      color white

  &__docs
    display flex
    justify-content space-around
    margin-bottom 3em
    white-space nowrap
    +screen-md()
      justify-content center

    a
      margin-right 30%
      +screen-md()
        margin 20px

  &__soc-links
    display flex
    justify-content space-between
    margin-bottom 3em
    +screen-md()
      justify-content center

    a
      margin 0 .5em
      opacity .5
      color white
      transition all .3s ease
      &:hover
        opacity 1


  &__ltd
    width 100%
    text-align center
    letter-spacing .3em

    p
      margin 1em 0 0
