@media screen and (min-width: 1200px) and (min-height: 900px)
	.fullpage
		height 100vh
		width 100vw
		overflow hidden
		
		&__item
			overflow auto
			
			& > *
				height 100vh
				width 100vw
				
		&__two
			display flex
			flex-direction column