body
	background bg-gray

header
	background-image bg-violet-g
	
	.header--home
		padding-bottom 150px

	.register &
		min-height unset

	.nav
		padding-top 1.875em
		position relative
		z-index 10
		
		+screen-md()
			flex-direction column

		&__logo
			text-decoration none
			
			+screen-md()
				margin-bottom 30px

			&-img
				display inline-block
				vertical-align middle
				width 3.125em
				height 3.125em
				margin-right 1.25em

			&-greeting
				color white
				font-size 1.125em
				vertical-align middle

		&__menu
			display flex
			justify-content space-between
			
			+screen-sm()
				justify-content center
				flex-wrap wrap

			&-link
				color yellow
				font-size .75em
				text-align center

				+screen-sm()
					padding 10px
					
		&--scroll
			position fixed
			left 10px
			right 10px
			top 0
			padding-top 10px
			padding-bottom 10px
			z-index 1000
			background-color rgba(black, 0.4)
			animation-duration 500ms
			animation-name fadeInDown
			transition all 300ms ease
			
			&:hover
				background-color rgba(black, 0.8)				
				
			.nav__logo
				+screen-md()
					margin-bottom 5px
					text-align center
	
	h1
		margin-top 5em
		color white
		font-size 1.25em
		font-weight 400
		min-height 60px
		
		+screen-sm()
			min-height 90px
			
		+screen-xs()
			min-height 120px

	.timer
		display inline-block
		background rgba(32, 5, 29, 0.4)
		line-height 3.5em
		padding 0 1.5em
		border-radius 10px
		color rgba(white, .6)
		font-size 1.125em
		text-align center

		&__separator
			color orange
			font-style normal

	.map-holder
		display flex
		flex-direction column
		justify-content space-between
		
		@media screen and (max-width: 991px)
			display none

		.map
			flex 1
			background url('../img/map_with_taxi.png') center center no-repeat
			background-size 100%
			transform scale(1.2)
			
			@media screen and (max-width: 1300px)
				transform none

		.docs
			display flex
			justify-content space-around
			position relative
			z-index 10

			& .doc
				display block

				&__icon
					display block
					width 2.5em
					height 2.5em
					margin-bottom 10px
					cursor pointer

				&__text
					padding-bottom 3px
					border-bottom 1px solid yellow
					font-size .875em
					color white
					transition all .3s ease

			.doc:hover .doc__text
				border-bottom none
