.ico
	background-color #3f273c
	padding 4em 5em
	position relative
	
	+screen-md()
		padding 2em 1em
	
	&__title 
		text-align center
		font-size 26px
		line-height 1
		color white
	
	&__back
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
		object-fit contain
		z-index 1
		
		+screen-sm()
			display none
	
	&__shortly
		display flex
		align-items center
		justify-content space-between
		position relative
		z-index 2
		
		&-story
			color white
			font-size 22px
			line-height 1.32
			margin-bottom 0
	
	&__brand
		margin-right 30px
		
		+screen-sm()
			display none
		
		img 
			width 100%
			
	&__stitle
		text-align center
		font-size 20px
		color white
		line-height 1

	&__graph
		display flex
		align-items flex-start
		justify-content flex-end
		flex-wrap nowrap
		padding 0 0 60px
		margin: 0 1.5em;
		border-bottom 1px solid darken(white, 70)

		+screen-sm()
			margin 0

		&_start
			justify-content flex-start
		
	&__structure
		padding-bottom 0
		
	&__bonuses
		& ^[0]__graph
			border-bottom none
			padding-bottom 0