.mail
	&-logo
		background-image bg-violet-g
		padding 60px 20px 280px
		
		svg
			max-width 70px
			max-height 70px
			display block
			margin 0 auto
			
	&-content
		background #f9f9f9
		
		&__notification
			max-width 767px
			padding 50px
			background-color white
			color white
			margin 0 auto
			position relative
			top -250px
			
		&__name
			font-family Arial
			font-size 25px
			margin-bottom 32px
			line-height 1.4
			color #523886
			
		&__message
			font-family Arial
			font-size 18px
			margin-bottom 42px
			line-height 1.61
			color black
			
		&__button
			border-radius 27px
			background-color bg-pink
			font-family Arial
			font-size 18px
			font-weight bold
			line-height 1
			text-align center
			padding 1em 2em
			display inline-block
			cursor pointer
			transition all 300ms ease
			margin-bottom 65px
			
			&:hover
				background-color darken(bg-pink, 15)
				color darken(white, 15)
				
		&__separator
			height 1px
			width 100%
			display block
			background-color #f0f0f0
			margin-bottom 18px
			
		&__print
			display flex
			flex-direction row
			justify-content flex-start
			align-items flex-start
			
			p
				font-family Arial
				font-size 12px
				color black
				
			img
				max-width 100px
			
		&__image
			position absolute
			bottom 0
			left 0
			width 100%
			
	&-footer
		position relative
		top -200px
		text-align center
		
		svg
			max-height 40px
			
		p
			font-family Arial
			font-size 10px
			line-height 1.4
			color #918f90
			
			a
				font-weight bold
				color #e56ea0
				transition all 300ms ease
				
				&:hover
					color darken(#e56ea0, 15)
				
		&__shared
			display flex
			flex-direction row
			justify-content center
			
			a
				margin 0 4px
				line-height 1
				color #e56ea0
				transition all 300ms ease
				
				&:hover
					color darken(#e56ea0, 15)
				
				svg
					width 24px
					height 24px
				