.problems
  background bg-violet
  padding 8em 6em
  
  +screen-sm()
    padding 5em 1em

  &__content
    flex-wrap nowrap
    
    +screen-sm()
      flex-direction column

  &__item-trigger
    background none
    height 2.5em
    padding 0 1.5em
    border 1px solid transparent
    border-radius 1.75em
    color green
    font-size 1.5em
    position relative
    cursor pointer
    outline none
    transition all .3s ease
    
    +screen-sm()
      margin-bottom 10px
      
    &:hover
      color darken(green, 50%)

    &_active
      border-color green
      
      &:hover
        cursor default
        color green

    &_active:before
      content ''
      display block
      width 0
      border 15px solid transparent
      border-bottom-color rgba(white, .1)
      margin auto
      position absolute
      left: 0
      right 0
      bottom -1.4em
      
      +screen-sm()
        display none

  &__item-separator
    width 7.5em
    height .75em
    
    @media screen and (max-width: 1050px)
      display none
    
    &:last-of-type
      display none

  &__info-holder
    list-style none
    background rgba(white, .1)
    padding 1.6em 2.5em 1.6em 1.6em
    border-radius 10px
    margin 1.5em 0 0 0
    color white
    font-size 1.375em
      
    +screen-sm()
      padding 1em

  &__item-info
    display flex

    & + &
      margin-top 1.5em

    &:before
      content url('../img/check.svg')
      margin 4px 1em 0 0
