.tooltip
	position absolute
	z-index 10
	
	&__content
		background-color rgba(28, 10, 26, 0.87)
		width 500px
		border-radius 0.5rem
		display flex
		flex-direction row
		flex-wrap nowrap
		padding 22px 35px 20px 26px
		
	&__arrow
		border-width 15px 15px 0 15px
		border-left-color transparent
		border-right-color transparent
		border-top-color rgba(28, 10, 26, 0.87)
		width 30px
		border-style solid
		position absolute
		bottom 0%
		left 70px
		transform translateY(100%)
		
		&_top
			top 0
			bottom unset
			transform translateY(-100%) rotate(180deg)
			border-width 15px 15px 0px
			
		&_right
			left unset
			right 70px
		
	&__num
		opacity 0.5
		font-family Roboto
		font-size 36px
		font-weight bold
		line-height 0.69
		color #958293
		margin 0 20px 0 0
		
	&__message
		display flex
		flex-direction column
		align-items flex-start
		
	&__description
		font-family Roboto
		font-size 18px
		line-height 1.39
		color white
		margin-bottom 5px
		
		span
			font-weight bold
			color #50e3c2
			
	&__buttons
		display flex
		flex-direction row
		justify-content space-between
		width 100%

	&__next, &__cancel
		border none
		outline none !important
		background transparent
		font-family Roboto
		font-size 18px
		line-height 1.39
		cursor pointer
		color #fed91f