.typing
	position relative
	&__circle
		position absolute
		display inline-block
		height 5px
		width 5px
		background-color white
		margin 3px
		border-radius 50%
		animation wave 1.5s infinite ease-in-out
		top 0

		&:first-child
			left 0
		

		&:nth-child(2)
			left 10px
			animation-delay 0.10s
		

		&:last-child 
			left 20px
			animation-delay 0.20s
		
@keyframes wave 
	0%, 50% 
		top 0
		
	25% 
		top: -10px