.about-video
  background rgba(black, .4)
  height calc(100vw * 9 / 16 - 10px)
  text-align center
  background-position center
  background-size cover
  position relative

  &__title
    padding-top 3.5em
    color white

  &__play-btn
    background none
    border none
    outline none
    // margin-top 8em
    cursor pointer
    transition all .3s ease
    position absolute
    top 50%
    transform translateY(-50%) translateX(-50%)
    left 50%

    & svg
      width 7.5em
      height 7.5em
      &:hover
        filter saturate(5)
