.whatwe-holder
  background-color white
  background-image linear-gradient(90deg, bg-blue 50%, white 50%)
  padding 3.5em 0
  overflow hidden
  +screen-md()
    background-image linear-gradient(bg-blue 53%, white 47%)


.whatwe
  padding 3.5em 0
  margin -3.5em 0

  &__title
    +screen-md()
      text-align center

  &__list
    list-style none
    display flex
    flex-wrap wrap
    padding 0
    margin 0
    +screen-lg()
      font-size .9em
    +screen-md()
      justify-content space-around

    &-item
      height 13em
      padding 2.5em 0
      line-height 1.3em
      +screen-md()
        text-align center


      .whatwe_have &
        width calc(50% - 6em)
        margin-right 6em
        +screen-lg()
          width calc(50% - 5em)
          margin-right 3em
        +screen-md()
          width 50%
          margin 0
        +screen-xs()
          width 100%
          
      .whatwe_want &
        width calc(50% - 4em)
        margin-right 4em
        +screen-lg()
          width calc(50% - 3em)
          margin-right 3em
        +screen-md()
          width 50%
          margin 0
        +screen-xs()
          width 100%

      .whatwe_have &:nth-child(1),
      .whatwe_have &:nth-child(2),
      .whatwe_have &:nth-child(3),
      .whatwe_want &:nth-child(1),
      .whatwe_want &:nth-child(2)
        border-bottom 1px solid rgba(text-gray, .2)
        +screen-md()
          border none


      &-icon
        display block
        width 3.75em
        height 3.75em
        margin-bottom 1.5em
        +screen-md()
          margin 0 auto 1.5em

  &_have
    color text-blue
    +screen-md()
      padding-bottom 12em

  &_want
    background white
    padding-left 3em
    color text-main
    position relative
    box-shadow: -50px 0 100px 0 rgba(black, .06)
    +screen-md()
      padding-left 0
      box-shadow none

    &:before, &:after
      content ''
      position absolute
      display block
      background: white
      width: 100%
      height: 2em
      left: -300px
      +screen-lg()
        left -255px
      +screen-md()
        left 0

    &:before
      top 20px
      transform: rotate(90deg) skew(-60deg)
      +screen-lg()
        top 90px
      +screen-md()
        top -32px
        left 53%
        transform: skew(-60deg)

    &:after
      transform: rotate(90deg) skew(60deg)
      +screen-lg()
        bottom 65px
      +screen-md()
        top -32px
        left -53%
        transform: skew(60deg)



    & .whatwe__title
      color pink
