<template>
	<section class="bounty" id="bounty">
		<div class="bounty__container">
			<p class="bounty__title">
				Bounty
			</p>
			<p class="bounty__subtitle">
				2% of tokens are reserved for the Bounty campaign
			</p>

			<app-bounty-card />
		</div>
	</section>
</template>

<script>
import AppBountyCard from "~/components/index/bounty/AppBountyCard.vue";

export default {
	components: {
		AppBountyCard
	}
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.bounty
	padding 60px 0
	background-color #f4f6fb
	
	+fullpage()
		align-items center
		display flex
	
	&__container
		width 100%
		margin 0 auto
		
		@media screen and (min-width: 576px)
			max-width 540px
		
		@media screen and (min-width: 768px)
			max-width 720px
		
		@media screen and (min-width: 992px)
			max-width 960px
		
		@media screen and (min-width: 1200px)
			max-width 1140px

	&__title, &__subtitle
		text-align center
		font-family Roboto
		font-size 26px
		font-style normal
		font-stretch normal
		font-weight bold
		color text-main

	&__title
		opacity 0.5
		font-size 32px
		line-height 1.13
		letter-spacing 1px
		text-transform uppercase
		margin-bottom 0

	&__subtitle
		margin 0 0 90px
		line-height 1.19
		letter-spacing normal
		
	&__cards
		display flex
		flex-direction row
		justify-content center
		flex-wrap wrap
		align-items flex-start
		visibility visible !important
		
	&__card
		width 25%
		
		+screen-sm()
			width calc( 100% / 3 )
			
		+screen-xs()
			width 50%
</style>