<template>
	<div class="bounty__cards" v-wow="{'animateClass': '', 'scrollContainer': scrollContainer, 'callback': active}">
		<div class="bounty__card bounty-card" v-for="(card, index) in cards" :key="index">
  			<p class="bounty-card__cost" :key="'cost-' + index">
				<svg viewbox="0 0 140 140">
					<g fill="none">
						<circle r="65" cx="70" cy="70" stroke-width="10" stroke="red" stroke-dasharray="408" :stroke-dashoffset="card.dashoffset" />
					</g>
				</svg>
				{{ card.cost }}%
			</p>
			<p class="bounty-card__description" :key="'description-' + index">
				<template v-for="(line, index) in card.description">
					{{ line }}<br :key="index" />
				</template>
			</p>
		</div>
	</div>
</template>

<script>
import { animate } from '~/plugins/js/animate.js';

export default {
	data() {
		return {
			'scrollContainer': null,
			'cards': [{
						'cost': 30,
						'dashoffset': 408,
						'description': [
								'Video Reviews &',
								'Exclusive Support'
							]
					}, {
						'cost': 25,
						'dashoffset': 408,
						'description': [
								'Articles and',
								'Written Reviews'
							]
					}, {
						'cost': 15,
						'dashoffset': 408,
						'description': [
								'Translation',
								'Campaign'
							]
					}, {
						'cost': 10,
						'dashoffset': 408,
						'description': [
								'BitCoinTalk Community',
								'Management & Signature',
								'Campaign'
							]
					}, {
						'cost': 10,
						'dashoffset': 408,
						'description': [
								'Reddit',
								'Campaign'
							]
					}, {
						'cost': 5,
						'dashoffset': 408,
						'description': [
								'Facebook',
								'Engagement'
							]
					}, {
						'cost': 5,
						'dashoffset': 408,
						'description': [
								'Twitter',
								'Engagement'
							]
					}]
		};
	},

	'methods': {
		active(index) {
			const self = this;
			this.cards
				.forEach((card) => {
					const last = card.cost;
					const lastSVG = 408 * (card.cost / 100);
					animate((time) => {
						card.cost = Math.ceil(time / 2000 * last);
						card.dashoffset = 408 - Math.ceil(time / 2000 * lastSVG);
					}, 2000);
				});
		}
	},
	created() {
		if (process.browser) {
			this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;
		}
	}
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.bounty-card
	text-align center
	padding 0px 50px
	margin-bottom 70px
	border-right 1px solid rgba(text-main, 0.1)
	
	&:nth-of-type(4n+4), &:nth-last-of-type(1)
		border none
	
	+screen-lg()
		padding 0 20px
		margin-bottom 25px

	+screen-md()
		border none

	&__description, &__cost
		font-family Roboto
		font-style normal
		font-stretch normal
		letter-spacing normal
		text-align center
		position relative

	&__description
		font-size 16px
		font-weight bold
		line-height 1.19
		color text-gray
		margin-bottom 0
		
	&__cost
		font-size 40px
		font-weight bold
		line-height 1
		color text-main
		width 140px
		margin 0 auto 15px
		border 10px solid rgba(#e56ea0, 0.4)
		line-height 120px
		border-radius 100%
		background-color rgba(185, 104, 138, 0.12)
		
		svg
			position absolute
			width calc(100% + 20px )
			height calc(100% + 20px )
			top -10px
			left -10px
		    overflow visible
</style>