<template>
<div class="fullpage" v-fullpage>
	<div class="fullpage__item">
		<app-about-header />
	</div>
	<div class="fullpage__item">
		<app-steps />
	</div>
	<div class="fullpage__item">
		<app-about-problem />
	</div>
	<div class="fullpage__item">
		<app-about-success />
	</div>
	<div class="fullpage__item">
		<app-about-using />
	</div>
	<div class="fullpage__item">
		<div class="fullpage__two">
			<app-about-contact />
			<app-footer />
		</div>
	</div>
</div>
</template>

<script>
import AppAboutHeader from "~/components/about-us/AppAboutHeader.vue";
import AppAboutProblem from "~/components/about-us/AppAboutProblem.vue";
import AppAboutSuccess from "~/components/about-us/AppAboutSuccess.vue";
import AppAboutUsing from "~/components/about-us/AppAboutUsing.vue";
import AppAboutContact from "~/components/about-us/AppAboutContact.vue";
import AppSteps from "~/components/about-us/AppSteps.vue";
import AppFooter from "~/components/AppFooter.vue";

export default {
	"components": {
		"app-about-header": AppAboutHeader,
		"app-steps": AppSteps,
		"app-about-problem": AppAboutProblem,
		"app-about-success": AppAboutSuccess,
		"app-about-using": AppAboutUsing,
		"app-about-contact": AppAboutContact,
		"app-footer": AppFooter
	}
}
</script>