<template>
<div class="fullpage" v-fullpage>
	<div class="fullpage__item">
		<app-header />
	</div>
	<div class="fullpage__item">
		<app-solution />
	</div>
	<div class="fullpage__item">
		<div class="fullpage__item--video-container">
			<app-video />
		</div>
	</div>
	<div class="fullpage__item">
		<section class="problems">
			<app-problems />
		</section>
	</div>
	<div class="fullpage__item">
		<app-what-we />
	</div>
	<div class="fullpage__item">
		<app-ico />
	</div>
	<div class="fullpage__item">
		<app-bounty />
	</div>
	<div class="fullpage__item">
		<div>
			<app-roadmap />
		</div>
	</div>
	<div class="fullpage__item">
		<div>
			<app-team />
		</div>
	</div>
	<div class="fullpage__item">
		<div class="fullpage__two">
			<app-contact-us />
			<app-footer />
		</div>
	</div>
</div>
</template>

<script>
import AppHeader from '~/components/index/header/AppHeader.vue';
import AppSolution from '~/components/index/solution/AppSolution.vue';
import AppVideo from '~/components/index/about-video/AppVideo.vue';
import AppProblems from '~/components/index/problems/AppProblems.vue';
import AppWhatWe from '~/components/index/whatwe-holder/AppWhatWe.vue';
import AppIco from '~/components/index/ico/AppIco.vue';
import AppBounty from "~/components/index/bounty/AppBounty.vue";
import AppRoadmap from "~/components/index/roadmap/AppRoadmap.vue";
import AppTeam from "~/components/AppTeam.vue";
import AppContactUs from "~/components/AppContactUs.vue";
import AppFooter from "~/components/AppFooter.vue";

export default {
	components: {
		"app-header": AppHeader,
		"app-solution": AppSolution,
		"app-video": AppVideo,
		"app-problems": AppProblems,
		"app-what-we": AppWhatWe,
		"app-ico": AppIco,
		"app-bounty": AppBounty,
		"app-roadmap": AppRoadmap,
		"app-team": AppTeam,
		"app-contact-us": AppContactUs,
		"app-footer": AppFooter
	}
}
</script>