// Colors
white = #fff
yellow = #fed91f
orange = #ff671b
pink = #ed5175
pink2 = #e56ea0
blue = #4a90e2
green = #50e3c2
darkblue = #0084ff

text-main = #5e3e5a
text-gray = #747474
text-blue = #1c71da

bg-violet = #2c1836
bg-violet-g = radial-gradient(circle at 0 97%, #281057, #6b4fa4)
bg-roadmap = radial-gradient(circle at 89% 42%, #3d2471, #6c52a1)
bg-blue = rgba(#d0e8ff, .21)
bg-eggplant = #351e32
bg-gray = #4a4a4a
bg-pink = #b9688a
bg-green = #00ac90
bg-green2 = #4fac97

proxima = 'Proxima Nova'

// Mixins
placeholder(color)
  &::-webkit-input-placeholder
    color color
  &:-moz-placeholder
    color color
  &::-moz-placeholder
    color color
  &:-ms-input-placeholder
    color color

screen-xs()
  @media screen and (max-width: 567px)
    {block}

screen-sm()
  @media screen and (max-width: 767px)
    {block}

screen-md()
  @media screen and (max-width: 991px)
    {block}

screen-lg()
  @media screen and (max-width: 1299px)
    {block}

fullpage()
  @media screen and (min-width: 1200px) and (min-height: 900px)
    {block}

// Classes
.equal-width
  display inline-block

.hide-md
  +screen-md()
    display none

.show-sm
  @media screen and (min-width: 991px)
    display none

.hide-sm
  +screen-sm()
    display none
    
input
  border-radius unset