//
// enter-bottom animation
//
.enter-bottom-enter-active {
  transition: all .3s ease;
}
.enter-bottom-enter {
  transform: translateY(50px);
  opacity: 0;
}
//
// enter-bottom animation
//

//
// enter-right animation
//
.enter-right-enter-active {
  transition: all .3s ease;
}
.enter-right-enter {
  transform: translateX(50px);
  opacity: 0;
}
//
// enter-right animation
//


//
// enter-top animation
//
.enter-top-enter-active {
  transition: all .3s ease;
}
.enter-top-enter {
  transform: translateY(-50px);
  opacity: 0;
}
//
// enter-top animation
//

//
// enter-left animation
//
.enter-left-enter-active {
  transition: all .3s ease;
}
.enter-left-enter {
  transform: translateX(-50px);
  opacity: 0;
}
//
// enter-left animation
//

