.input-email
  margin 3.5em auto
  position relative
  
  &_show
    animation-fill-mode both
    animation-duration 500ms
    animation-name fadeInLeft    

  &__field
    background transparent
    width 100%
    padding .625em 2.5em .625em .625em
    border none
    border-bottom 2px solid
    outline none
    color white
    font-size 1em
    placeholder(rgba(white, .4))

  &__submit
    background-color transparent
    width 1.875em
    padding 0
    border none
    outline none
    position absolute
    right 0
    bottom .625em
    cursor pointer

    & svg
      width 1.875em
      height 1.875em
      transition all .3s ease
      &:hover
        filter saturate(5)

  &_yellow &__field
      border-color rgba(yellow, .5)
      
      &:focus
        border-color yellow
  
  &_yellow svg
      color yellow

  &_blue &__field
      border-color rgba(#e56ea0, .5)
    
      &:focus
        border-color #e56ea0
        
  &_blue svg
      color #e56ea0
      
  &_mini
    margin-left 0
    margin-bottom 0
    max-width 620px


.signup-btn
  display block
  max-width 21em
  height 3.5em
  line-height 3.5em
  padding 0 1.25em 0 2.2em
  border-radius 1.875em
  margin-top 3.5em

  color text-main
  text-decoration none
  font-size 1.125em
  font-weight 700

  transition all .3s ease

  +screen-xs()
    font-size .9em

  &_yellow
    background-color yellow
    &:hover
      background-color darken(yellow, 15%)

  &_pink
    background-color pink
    color white
    margin-left 2em
    +screen-md()
      margin 3em auto 0
    &:hover
      background-color darken(pink, 15%)

  &__arrow
    float right
    width 1.5em
    height 1.25em
    margin-top 1.2em
