.content 
	padding 0 260px 90px
	max-width 840px
	margin 65px auto 0
	background url('~/static/img/map.png')
	background-repeat no-repeat
	background-size contain
	
	+screen-md()
		padding 0 185px 90px
		
	+screen-sm()
		padding 0 95px 90px
		
	+screen-xs()
		padding 0 35px 90px
	
	&__title
		font-size 32px
		color white
		text-align center
	
	.contact-form
		
		&__field
			label
				color white
			input
				color white
				border-bottom 2px solid #fed91f
				&::placeholder
					color white

	.signup-btn
		border 1px solid transparent
		max-width 280px
		margin 35px auto 0
		display block
		text-align center
		padding 1em 1.25em
		line-height 1.5

	.mb-6
		margin-bottom 60px