@font-face
    font-family 'Roboto'
    src url('~/static/Roboto-Bold.eot')
    src local('Roboto Bold'), local('Roboto-Bold'),
        url('~/static/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('~/static/Roboto-Bold.woff2') format('woff2'),
        url('~/static/Roboto-Bold.woff') format('woff'),
        url('~/static/Roboto-Bold.ttf') format('truetype')
    font-weight bold
    font-style normal

@font-face
    font-family 'Roboto'
    src url('~/static/Roboto-Light.eot')
    src local('Roboto Light'), local('Roboto-Light'),
        url('~/static/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('~/static/Roboto-Light.woff2') format('woff2'),
        url('~/static/Roboto-Light.woff') format('woff'),
        url('~/static/Roboto-Light.ttf') format('truetype')
    font-weight 400
    font-style normal