+fullpage()
	.fullpage
		height 100vh
		width 100vw
		overflow hidden
		
		&__item
			overflow auto
				
			&::-webkit-scrollbar-track
				-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
				background-color #F5F5F5
				border-radius 10px

			&::-webkit-scrollbar
				width 10px
				background-color #F5F5F5

			&::-webkit-scrollbar-thumb
				border-radius 10px
				background-image -webkit-gradient(linear,
												   left bottom,
												   left top,
												   color-stop(0.44, rgb(122,153,217)),
												   color-stop(0.72, rgb(73,125,189)),
												   color-stop(0.86, rgb(28,58,148)))
			
			& > *
				height 100vh
			
			&--video-container
				padding-top calc((100vh - 56.25vw - 10px) / 2)
				
		&__two
			display flex
			flex-direction column