body
	background bg-gray

header
	background-image bg-violet-g
	
	+fullpage()
		display flex
		flex-direction column
	
	.header--home
		padding-bottom 150px

		+fullpage()
			margin auto
			padding-bottom 50px
			
	.register &
		min-height unset
	
	h1
		margin-top 5em
		color white
		font-size 1.25em
		font-weight 400
		min-height 60px
		
		+screen-sm()
			min-height 90px
			
		+screen-xs()
			min-height 120px
