.roadmap
	padding 78px 0 110px
	position relative
	background-image bg-roadmap
	
	+screen-md()
		padding 2em 1em
	
	&__container
		width 100%
		margin 0 auto
		
		@media screen and (min-width: 576px)
			max-width 100%
		
		@media screen and (min-width: 768px)
			max-width 720px
		
		@media screen and (min-width: 992px)
			max-width 960px
		
		@media screen and (min-width: 1200px)
			max-width 1140px
			
	&__row
		display flex
		margin-right -15px
		margin-left -15px
		justify-content space-between
		align-items center
		flex-wrap wrap
		
		+screen-sm()
			flex-direction column
			
	&__back
		position absolute
		max-width 100%
		top 50px
		height auto
		left 50%
		transform translateX(-50%)
	
	&__title
		font-family Roboto
		font-size 32px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height 1
		letter-spacing 1px
		text-align center
		color yellow
		margin-bottom 80px
		
	&__description
		opacity 0.5
		font-family Roboto
		font-size 18px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.33
		letter-spacing normal
		text-align center
		color white
		padding 0 100px
		margin-bottom 120px
		
		+screen-xs()
			padding 0
			
		+screen-lg()
			margin-bottom 50px
		
	&__item-trigger
		flex-shrink 0
		background none
		height 2.5em
		padding 0 1.5em
		border 1px solid transparent
		border-radius 1.75em
		color pink
		font-size 18px
		position relative
		cursor pointer
		outline none
		transition all .3s ease
		font-family Roboto
		
		+screen-sm()
			margin-bottom 1.5em

		&:hover
			color lighten(pink, 50%)

		&_active
			border-color bg-pink
			color white
			
			&:hover
				cursor default
				color white

		&_active:before
			content ''
			display block
			width 0
			border 15px solid transparent
			border-bottom-color rgba(#060606, .5)
			margin auto
			position absolute
			left: 0
			right 0
			bottom -1.4em
			
			+screen-sm()
				display none

	&__item-separator
		width 7.5em
		height .75em
		
		+screen-lg()
			display none
		
		&:last-of-type
			display none

	&__info-holder
		background rgba(#060606, .5)
		padding 1.6em 3.2em
		border-radius 10px
		margin 1.1em 0 0 0
		color white
		font-size 1.375em
		line-height 1
		
		+screen-xs()
			padding 1em
			list-style none

	&__item-info

		& + &
			margin-top 1.09em

	&__step-vertical
		flex-basis 100%		
		&:nth-of-type(1)
			.step-vertical
				&__separator
					&:before
						border-color #fed91f
						background #fed91f