circle-diagonal = 60px
.step-vertical 
	display flex
	justify-content space-between
	align-items flex-start
	height 300px
	
	&__content
		position relative
		width 45%
		
	&__dots
		width: 48px;
		height: 12px;
		position: absolute;
		top: 0;
		
		svg
			width 100%
			height 100%
		
		&_left
			right 0
		
		&_right
			left 0
		
	&__text
		font-size 18px
		font-weight bold
		line-height 1.39
		color white
		width 60%
		margin 0 auto
		opacity 0
		transition all 0.5s ease
		
	&__separator
		height 0%
		width 30px
		background rgba(white, 0.1)
		position relative
		transition all 1.5s 0.9s ease
		
		&:before
			position absolute
			content ""
			top -1em
			left 50%
			transform translateX(-50%)
			width 0
			height 0
			background white
			border 0px solid bg-pink
			border-radius 50%
			transition all 0.3s ease
	
	&__year
		color yellow
		font-size 20px
		font-weight 800
		opacity 0
	
	&__title
		font-size 20px
		font-weight 800
		color pink2
		line-height 1
		opacity 0
	
	&__list 
		list-style-type none
		padding 0
		opacity 0
	
	&__right
		padding-left 70px
	
	&__left
		padding-right 45px
		
	&__item
		position relative
		padding-left 16px
		color white
		font-weight normal
		font-size 18px
		margin-bottom 20px
		
		&:before
			content ""
			width 4px
			height 4px
			border-radius 50%
			background pink2
			position absolute
			top 20%
			left 0
			
	&_animate
		.step-vertical 
			&__separator
				height 100%
				&:before
					width circle-diagonal
					height circle-diagonal
					border-width 8px
			&__text
				opacity 1
			&__list
				opacity 1
			&__year
				opacity 1
			&__title
				opacity 1
				