.success-send
	padding 0 0 90px
	max-width 840px
	margin 65px auto 0
	background url('~/static/img/map.png')
	background-repeat no-repeat
	background-size contain
	
	&__message
		background rgba(#120728, 0.44)
		border-radius 10px
		padding 60px 120px
		max-width 750px
		margin 0 auto
		text-align center
		
		+screen-md()
			padding 2em
		
		svg
			max-width 90px
			max-height 90px
			margin-bottom 40px
			
	&__title
		font-family Roboto
		font-size 28px
		font-weight bold
		line-height 1.18
		letter-spacing normal
		margin-bottom 15px
		color #e56ea0
		
	&__description
		font-family Roboto
		font-size 22px
		line-height 1.5
		color white
		margin-bottom 35px
		
	&__button
		font-family Roboto
		font-size 18px
		font-weight bold
		color text-main
		background-color yellow
		box-shadow 0 0 30px 0 rgba(white, 0.14)
		border none
		outline none
		border-radius 2em
		padding 1em 4.5em
		transition all 300ms ease
		cursor pointer
		
		+screen-xs()
			padding 1em 2em
		
		&:hover
			background-color darken(yellow, 10)
			color darken(text-main, 10)