.team
  background white
  padding 3.75em 0 2em

  &__title
    margin-bottom 2em
    text-align center
    color text-main

  &__separator
    width 100%
    border-color rgba(text-main, .2)
    margin 1em 0 4em

  &__members
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 0 3em
    +screen-xs()
      justify-content center

  &__member
    width 220px
    margin-bottom 3em
    +screen-lg()
      width 200px
    +screen-md()
      width 220px
    +screen-sm()
      width 200px
    +screen-xs()
      width 220px

    &-photo
      width 100%
      margin-bottom 1.8em

    &-name
      margin-bottom 0
      color text-main
      font-size 1.25em

    &-desc
      margin-bottom: .8em
      font-size .875em

    &-linkedin svg
      width 30px
      height 30px

    &-new
      display block
      background rgba(yellow, .1)
      padding calc(100% - 10px) 0 0 0
      border 5px solid yellow
      border-radius 10px
      margin-bottom 1.8em
      position relative
      &:before
        content: '+'
        display: flex
        justify-content: center
        align-items: center

        color: yellow
        font-size: 50px
        font-weight: 700

        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
