.tooltip
	position absolute
	z-index 10
	
	&__content
		background-color white
		width 353px
		border-radius 0.5rem
		display flex
		flex-direction row
		flex-wrap nowrap
		padding: 11px 17px 15px 15px;
		
	&__arrow
		border-width 15px 15px 0 15px
		border-left-color transparent
		border-right-color transparent
		border-top-color white
		width 30px
		border-style solid
		position absolute
		bottom 2px
		left 70px
		transform translateY(100%)
		
		&_top
			top 1px
			bottom unset
			transform translateY(-100%) rotate(180deg)
			border-width 15px 15px 0px
			
		&_right
			left unset
			right 70px
		
	&__num
		opacity 0.5
		font-family Roboto
		font-size 24px
		font-weight bold
		line-height 0.69
		color #958293
		margin: 0 11px 0 0;
		padding-top: 11px;
		
	&__message
		display flex
		flex-direction column
		align-items flex-start
		
	&__description
		font-family Roboto
		font-size 14px
		line-height 1.39
		color bg-violet
		margin-bottom 8px
		letter-spacing: normal;
		
		span
			font-weight bold
			color bg-violet
			
	&__buttons
		display flex
		flex-direction row
		justify-content space-between
		width 100%

	&__next, &__cancel
		border none
		outline none !important
		background transparent
		font-family Roboto
		font-size 14px
		line-height 1.39
		cursor pointer
		color darkblue
		font-weight bold
		padding 0