<template>
	<section class="whatwe-holder">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 whatwe whatwe_have">
					<h2 class="whatwe__title">
						What we have:
					</h2>
					<ul class="whatwe__list">
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#bot"></use>
							</svg>
							Facebook<br>
							Messenger Taxi Bot
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#partnership"></use>
							</svg>
							Taxi Partnership order<br>
							sharing system
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#whitelabel"></use>
							</svg>
							White-label taxi bot<br>
							solution for taxi services
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#software"></use>
							</svg>
							Tests of our software<br>
							with current partners
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#worldwide"></use>
							</svg>
							30 companies worldwide<br>
							integrating into our system
						</li>
					</ul>
				</div>

				<div class="col-lg-6 whatwe whatwe_want">
					<h2 class="whatwe__title">
						What we want:
					</h2>
					<ul class="whatwe__list">
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#bitcoin"></use>
							</svg>
							Adopt cryptocurrencies<br>
							as a regular payment for taxi<br>
							services
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#browser"></use>
							</svg>
							Provide a free white-label<br>
							cryptocurrency adoption<br>
							solution for taxi services
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#pie"></use>
							</svg>
							Accommodate 30% of<br>
							the companies in taxi industry
						</li>
						<li class="whatwe__list-item">
							<svg class="whatwe__list-item-icon">
								<use xlink:href="#db"></use>
							</svg>
							50 million users<br>
							worldwide
						</li>
					</ul>
					<a href="/register.html" class="signup-btn whatwe__btn signup-btn_pink">
						Sign up for a White List
						<svg class="signup-btn__arrow">
							<use xlink:href="#login-arrow-white"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.whatwe-holder
	background-color white
	background-image linear-gradient(90deg, bg-blue 50%, white 50%)
	padding 3.5em 0
	overflow hidden

	+screen-md()
		background-image linear-gradient(bg-blue 53%, white 47%)

	+fullpage()
		.container
			height 100%
			display flex
			align-items center

.whatwe
	padding 3.5em 0
	margin -3.5em 0

	&__title
		font-size 21px
		font-weight normal
		text-transform uppercase
		line-height 1.24
		letter-spacing 0.8px

		+screen-md()
			text-align center

	&__list
		list-style none
		display flex
		flex-wrap wrap
		padding 0
		margin 0

		+screen-lg()
			font-size .9em

		+screen-md()
			justify-content space-around

		&-item
			height 13em
			padding 2.5em 0
			line-height 1.3em
			font-weight bold
			line-height 1.19

			+screen-md()
				text-align center


			.whatwe_have &
				width calc(50% - 6em)
				margin-right 6em

				+screen-lg()
					width calc(50% - 5em)
					margin-right 3em

				+screen-md()
					width 50%
					margin 0

				+screen-xs()
					width 100%

			.whatwe_want &
				width calc(50% - 4em)
				margin-right 4em

				+screen-lg()
					width calc(50% - 3em)
					margin-right 3em

				+screen-md()
					width 50%
					margin 0

				+screen-xs()
					width 100%

			.whatwe_have &:nth-child(1),
			.whatwe_have &:nth-child(2),
			.whatwe_have &:nth-child(3),
			.whatwe_want &:nth-child(1),
			.whatwe_want &:nth-child(2)
				border-bottom 1px solid rgba(text-gray, .2)

				+screen-md()
					border none


			&-icon
				display block
				width 3.75em
				height 3.75em
				margin-bottom 1.5em

				+screen-md()
					margin 0 auto 1.5em
	&_have
		color text-blue

		+screen-md()
			padding-bottom 12em

	&_want
		background white
		padding-left 3em
		color text-main
		position relative
		box-shadow: -50px 0 100px 0 rgba(black, .06)
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		+screen-md()
			padding-left 0
			box-shadow none
			
		+fullpage()
			box-shadow none

		&:before, &:after
			content ''
			position absolute
			display block
			background white
			width 2em
			height 50%
			left -2em

			+screen-md()
				display none

			+fullpage()
				height 50vh

		&:before
			top -2em
			transform skewY(60deg)

			+fullpage()
				top unset
				bottom calc(50% + 1.5em)

		&:after
			transform skewY(-60deg)
			top calc( 50% + 1.5em )

			+fullpage()
				top calc(50% + 1.5em)

		& .whatwe__title
			color pink

	&__btn
		margin-bottom 2.5em
		margin-top auto
</style>