<template>
<div class="chat" v-wow="{'animateClass': 'chat_show', 'callback': active}">
	<template v-for="(message, index) in messages">
		<div class="chat__block" :key="'block-' + index">
			<p  class="chat__question wow written" v-written :data-text="message.question"></p>
			<p class="chat__date">
				{{ message.question.lenght ? message.q_date : '' }}
			</p>
		</div>
		<div class="typing" v-if="message.typing" :key="'typing-' + index">
			<span class="typing__circle"></span>
			<span class="typing__circle"></span>
			<span class="typing__circle"></span>
		</div>
		<div v-if="!message.typing" class="chat__block chat__block_show animated" :style="message.transition" :key="'message-' + index">
			<p class="chat__answer" v-html="message.answer"></p>
			<p class="chat__date">{{ message.a_date }}</p>
		</div>
	</template>
</div>
</template>

<script>
export default {
	props : {
		"inputMessages" : {
			"type": Array
		}
	},
	data() {
		return {
			'wait': [
					{
						'question': 'Who`s Frank?',
						'q_date': 'today, 4:20 pm',
						'answer': 'Frank is a Taxi Bot 🚕 for Facebook Messenger and Telegram,\r\n used for ordering taxis without downloading dozens of taxi apps',
						'a_date': 'today, 4:21 pm',
						'transition': '',
						'typing': false
					},
					{
						'question': 'So, Frank is another taxi company?',
						'q_date': 'today, 4:21 pm',
						'answer': 'No. Frank integrates small and medium local taxi\r\n services from around the world!',
						'a_date': 'today, 4:22 pm',
						'transition': '',
						'typing': false
					},
					{
						'question': 'Sounds great! Can I use it?',
						'q_date': 'today, 4:22 pm',
						'answer': 'Not yet. We`re now testing it with 10+ taxi companies\r\n and will fully launch the project after the crowdsale.',
						'a_date': 'today, 4:23 pm',
						'transition': '',
						'typing': false
					}
				],
			'messages': [],
			isActive: false,
			typingTime: 1000,
			oneStageTime: 2000,
		};
	},

	methods: {
		active(index) {
			this.isActive = true;
			// if (process.browser) {
			// 	let typingTime = 2000;
			// 	let step0 = this.wait[0].question.length * 20;
			// 	this.wait[0].transition = 'animation-delay: ' + 100 + 'ms';
			// 	this.messages.push( this.wait[0] );
			// 	setTimeout(()=>{
			// 			this.messages[0].typing = true;
			// 		}, 100)
			// 	setTimeout(()=> {
			// 		this.messages[0].typing = false;
			// 	}, typingTime)

			// 	let step = this.wait[1].question.length * 20 + 3000;
			// 	setTimeout( () => {
			// 		this.wait[1].transition = 'animation-delay: ' + 100 + 'ms';
			// 		this.messages.push(this.wait[1]);
			// 		setTimeout(()=>{
			// 			this.messages[1].typing = true;
			// 		}, 100)
			// 		setTimeout(()=> {
			// 			this.messages[1].typing = false;
			// 		}, typingTime)
			// 	}, step);

			// 	let step2 = step + this.wait[1].question.length * 20 + 2500;
			// 	setTimeout( () => {
			// 		this.wait[2].transition = 'animation-delay: ' + 100 + 'ms';
			// 		this.messages.push(this.wait[2]);
			// 		setTimeout(()=>{
			// 			this.messages[2].typing = true;
			// 		}, 100)
			// 		setTimeout(()=> {
			// 			this.messages[2].typing = false;
			// 		}, typingTime)
			// 	}, step2);
			// }
		},
		stage1() {
			return new Promise( (resolve, reject) => {
				this.wait[0].transition = 'animation-delay: ' + 100 + 'ms';
				this.messages.push( this.wait[0] );
				this.messages[0].typing = true;
				setTimeout(()=> {
					this.messages[0].typing = false;
				}, this.typingTime);
				setTimeout(()=>{
					resolve();
					this.$emit('firstMessage')
				}, this.oneStageTime)
			})
		},
		stage2() {
			return new Promise( (resolve, reject) => {
				this.wait[1].transition = 'animation-delay: ' + 100 + 'ms';
				this.messages.push( this.wait[1] );
				this.messages[1].typing = true;
				setTimeout(()=> {
					this.messages[1].typing = false;
				}, this.typingTime);
				setTimeout(()=>{
					resolve();
					this.$emit('secondMessage')
				}, this.oneStageTime)

			})
		},
		stage3() {
			return new Promise( (resolve, reject) => {
				this.wait[2].transition = 'animation-delay: ' + 100 + 'ms';
				this.messages.push( this.wait[2] );
				this.messages[2].typing = true;
				setTimeout(()=> {
					this.messages[2].typing = false;
				}, this.typingTime);
				setTimeout(()=>{
					resolve();
					this.$emit('endChat')
				}, this.oneStageTime)
			})
		},
	},

	watch: {
		async isActive () {
			if (this.isActive) {
				await this.stage1()
				await this.stage2()
				await this.stage3()
			}
		}
	},

	created() {
		if (this.inputMessages) {
			this.wait = this.inputMessages;
		}
	}
};
</script>

<style lang="stylus">
@import '../assets/1_helpers.styl'

.chat
	padding-top 70px
	
	&--big
		min-height 460px
			
	&__block
		display flex
		flex-direction column
		flex-wrap nowrap
		margin-bottom 20px

		&_hide
			opacity 0

		&_show
			opacity 0

	&__question
		font-family proxima
		font-size 18px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height 1.61
		letter-spacing normal
		text-align left
		color yellow
		align-self flex-end
		margin-bottom 0

		& + .chat__date
			align-self flex-end
		
		&--dark
			color #672440

	&__date
		opacity 0.4
		font-family proxima
		font-size 8px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height 2
		letter-spacing normal
		text-align left
		color white
		text-transform uppercase
		margin-bottom 0

	&__answer
		font-family proxima
		font-size 18px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.44
		letter-spacing normal
		text-align left
		color white
		align-self flex-start
		margin-bottom 0
		white-space pre-line
		
		.chat--big &
			font-size 21px

		+screen-lg()
			white-space normal

		& + .chat__date
			align-self flex-start

	&__about-us-problems, &__about-us-success, &__about-us-success2
		padding 0
		margin 0
		margin-top 100px
		list-style none
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		
		&_show
			animation-fill-mode both
			animation-duration 500ms
			animation-name fadeInLeft

		+screen-sm()
			margin-top 40px

		li
			width calc(50% - 50px)
			margin-bottom 40px
			color white
			padding-left 50px
			font-family proxima
			font-size 18px
			font-weight 700
			font-style italic
			font-stretch normal
			line-height 1.44
			letter-spacing normal
			text-align left
			color #672440
			position relative

			+screen-sm()
				width 100%

			& > svg
				width 30px
				height 30px
				position absolute
				top 0
				left 0

	&__about-us-success, &__about-us-success2
		margin-top 60px
		position relative

		li
			line-height 1.44
			color #043930

			&.chat__about-us-success, &.chat__about-us-success2
				&_title
					font-family proxima
					font-size 18px
					font-style normal
					font-stretch normal
					text-align left
					padding 0
					color green

				&_white
					font-family proxima
					font-size 18px
					font-weight bold
					font-style normal
					font-stretch normal
					line-height 1.44
					letter-spacing normal
					text-align left
					color white
					margin-bottom 60px

					+screen-xs()
						span br
							display none

		&_line
			position absolute
			left 45%
			width 30px
			bottom 0.75em
			height calc(100% - 2em)
			color #4b5053

.chat_show
	+screen-lg()
		min-height 575px
		
		&.chat--big
			min-height 450px
	
	+screen-xs()
		min-height 675px
	
.app--message_show, .chat_show
	.chat__block_show
		animation-fill-mode both
		animation-duration 500ms
		animation-name fadeInDown


@keyframes fadeInDown
	from
		opacity 0
		transform translate3d(0, -100%, 0)
	to
		opacity 1
		transform translate3d(0, 0, 0)
</style>