<template>
<section id="contact" class="contact">
	<h2 class="contact-title">
		Feel free to drop us a line
	</h2>
	<form class="contact-form">
		<div class="row justify-content-between">
			<div class="col-sm-6">
				<div class="contact-form__field">
					<input id="name" type="text" placeholder="John Doe"/>
					<label for="name">	
						Full name
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="contact-form__field">
					<input id="email" type="email" placeholder="johndoe@email.com"/>
					<label for="email">
						Email
					</label>
				</div>
			</div>
		</div>
		<div class="contact-form__field">
			<input id="message" type="textarea" placeholder="Hello!"/>
			<label for="message">
				Message us
			</label>
		</div>
		<button type="submit" class="contact-form__submit">
			SEND
		</button>
	</form>
</section>
</template>

<script>
export default {}
</script>

<style lang="stylus">
	
</style>