<template>
<footer class="footer-holder">
	<div class="container">
		<div class="footer">
			<div class="row">
				<div class="footer__logo col-4 justify-content-start">
					<nuxt-link to="/" class="footer__logo-link">
						<svg>
							<use xlink:href="#logo"></use>
						</svg>
					</nuxt-link>
					<p>
						<span class="footer__logo-cpy">
							Copyright © 2018. All Rights Reserved.
						</span>
						<span class="footer__logo-email">
							Email:
							<a href="mailto:info@franktaxibot.com">
								info@franktaxibot.com
							</a>
						</span>
					</p>
				</div>
				<div class="footer__docs col-4 justify-content-center align-items-start">
					<a href="#">
						Privacy policy
					</a>
					<a href="#">
						Terms of us
					</a>
				</div>
				<div class="col-4 justify-content-end">
					<form class="input-email_yellow position-relative w-100">
						<input type="email" placeholder="Enter your e-mail to subscribe to our newsletter" class="input-email__field">
						<button type="submit" class="input-email__submit">
							<svg>
								<use xlink:href="#send"></use>
							</svg>
						</button>
					</form>
				</div>
				<div class="footer__soc-links col-12">
					<!-- <a href="#">
						<svg>
							<use xlink:href="#bitcoin"></use>
						</svg>
					</a> -->
					<a href="#">
						<svg>
							<use xlink:href="#soc-twitter"></use>
						</svg>
					</a>
					<a href="#">
						<svg>
							<use xlink:href="#reddit"></use>
						</svg>
					</a>
					<a href="#">
						<svg>
							<use xlink:href="#telegram"></use>
						</svg>
					</a>
					<a href="#">
						<svg>
							<use xlink:href="#soc-fb"></use>
						</svg>
					</a>
				</div>

				<div class="footer__ltd col-12">
					<!-- <img src="~/static/img/taxi2.svg"> -->
					<p>
						This website belongs to Frank Taxi Bot Ltd., Registration No. 10371414W
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
</template>

<script>
export default {}
</script>

<style lang="stylus">
@import '../assets/1_helpers.styl'

.footer-holder
	background bg-gray
	padding 3.5em 0 2.5em
	font-size .875em

	a
		color yellow
		&:hover:not(.footer__soc-link)
			text-decoration underline

	svg, img
		width 40px
		height 40px

.footer
	display flex
	flex-wrap wrap
	justify-content space-between
	+screen-md()
		flex-direction column

	&__logo
		display flex
		justify-content space-between
		+screen-md()
			justify-content center

		&-cpy,
		&-email
			display block
			line-height 40px
			margin 0 0 0 1em
			color white
			
			a
				font-weight bold

	&__docs
		display flex
		justify-content space-around
		white-space nowrap
		+screen-md()
			justify-content center

		a
			padding 0 40px
			line-height 40px

			+screen-md()
				margin 20px

	&__soc-links
		display flex
		justify-content center
		margin-top 3em
		+screen-md()
			justify-content center

		a
			margin 0 1em
			opacity .5
			color white
			transition all .3s ease
			&:hover
				opacity 1


	&__ltd
		width 100%
		text-align center
		letter-spacing .3em

		p
			margin 1em 0 0
</style>