<template>
	<div class="lang">
		<div class="lang__current" :class="{'lang__current--list-open': listOpen}" @click="open()">
			<img class="lang__img" :src="currentLang.image" :alt="currentLang.name" :title="currentLang.name">
			<button class="lang__trigl"></button>
		</div>
		<transition name="fadeInDown">
			<ul class="lang__list lang__list--active" v-if="listOpen">
				<li class="lang__item" v-for="lang in langList" :key="lang.name" @click="active(lang)">
					<img :src="lang.image" :alt="lang.name" :title="lang.name" class="lang__img">
				</li>
			</ul>
		</transition>
	</div>
</template>

<script>
export default {
	data() {
		return {
			"listOpen": false,
			"langList": [
					{
						"name": "usa",
						"image": require("~/static/img/usa@2x.png")
					},
					{
						"name": "uk",
						"image": require("~/static/img/uk@2x.png")
					}
				],
			"currentLang": null
		}
	},
	created() {
		this.currentLang = this.langList[1];
	},
	"methods": {
		open() {
			this.listOpen = !this.listOpen;
		},
		active(lang) {
			this.currentLang = lang;
			this.listOpen = false;
		}
	}
}
</script>

<style lang="stylus">
@import '../assets/1_helpers.styl'

.lang
	display flex
	align-items center
	align-self center
	position relative
	
	&__current
		margin auto
		background rgba(0, 0, 0, 0.31)
		border-radius 5px
		padding 8px
		display flex
		align-items center

		&:hover
			cursor pointer

		&--list-open .lang__trigl
			transform rotate(180deg)
			margin-top -3px
		
	&__img
		width 20px
		height auto
	
	&__trigl
		border 3px solid transparent
		border-top 6px solid yellow
		background transparent
		outline none !important
		padding 0
		margin-left 5px
		align-self center
		margin-top 3px
		transition all 200ms ease

		&:hover
			cursor pointer

	&__list
		list-style none
		padding 0
		width 100%
		display flex
		flex-direction column
		flex-wrap nowrap
		align-items center
		margin 0
		position absolute
		top 100%

	&__item
		width 100%
		text-align center
		padding 8px
		background rgba(0, 0, 0, .31)
		display flex
		justify-content center

		&:hover
			cursor pointer

.fadeInDown-enter-active
	animation fadeInDown-in .2s

.fadeInDown-leave-active
	animation fadeInDown-in .3s reverse

@keyframes fadeInDown-in
	0%
		transform translateY(-20%)
		opacity 0

	100%
		transform translateY(0%)
		opacity 1
</style>