<template>
<nav class="row align-items-center nav" id="app-nav" v-navigation>
	<nuxt-link to="/" v-scroll-to="{ 'to' : 'app-nav' }" class="col-lg-3 col-md-12 nav__logo">
		<svg class="nav__logo-img">
			<use xlink:href="#logo"></use>
		</svg>
		<span
			class="nav__logo-greeting"
			data-text="Hi, I’m FrankTaxi Bot! 🚖">
		</span>
	</nuxt-link>
	<div class="col-lg-9 col-md-12 nav__menu">
		<nuxt-link to="/about-us" class="nav__menu-link ml-auto">
			About
		</nuxt-link>
		
		<nuxt-link
			:to="nav.hashLink" 
			class="nav__menu-link navigation" 
			v-for="(nav, key) in navs" 
			:key="key"
			v-scroll-to="{'to': nav.link }">
			{{ nav.name }}
		</nuxt-link>
		<app-lang class="nav__lang ml-auto" />
	</div>
</nav>
</template>

<script>
import { writeText } from '~/plugins/js/written.js';
import AppLang from '~/components/AppLang.vue';

export default {
	"components": {
		AppLang
	},
	data() {
		return {
			"componentNode": null,
			"intervalId": null,
			"title": this.$route.name,
			"navs": {
				0 : {
					name: "ICO",
					link: "ico",
					hashLink: "/#ico"
				},
				1 : {
					name: "Bounty",
					link: "bounty",
					hashLink: "/#bounty"
				},
				2 : {
					name: "Roadmap",
					link: "roadmap",
					hashLink: "/#roadmap"
				},
				4 : {
					name: "Team",
					link: "team",
					hashLink: "/#team"
				},
				5 : {
					name: "Contact us",
					link: "contact",
					hashLink: "/#contact"
				},
				6 : {
					name: "White paper",
					link: "white",
					hashLink: "/#white"
				},
			}
		}
	},
	mounted() {
		if (process.browser) {
			const self = this;
			this.componentNode = document.getElementById("app-nav");

			if (this.componentNode) {
				const headerLogo = this.componentNode.querySelector('.nav__logo-greeting');
				self.intervalId = writeText(headerLogo);
			}
		}
	},
	destroyed() {
		clearInterval(self.intervalId);
	}
}
</script>

<style lang="stylus">
@import '../assets/1_helpers.styl'

.nav
	padding 1.875em 5px 0
	position relative
	max-width 1400px
	margin auto
	z-index 10
	
	+screen-md()
		flex-direction column

	&__logo
		text-decoration none
		
		+screen-lg()
			max-width 100%
			flex-basis 100%
			text-align center
		
		+screen-md()
			margin-bottom 15px

		&-img
			display inline-block
			vertical-align middle
			width 3.125em
			height 3.125em
			margin-right 1.25em

		&-greeting
			color white
			font-size 1.125em
			font-family proxima
			vertical-align middle

	&__menu
		display flex
		justify-content space-between
		
		+screen-lg()
			max-width 100%
			flex-basis 100%
			padding-left 65px
		
		+screen-md()
			justify-content center
			flex-wrap wrap
			padding-left 15px

		&-link
			color pink2
			font-size .75em
			font-family proxima
			font-weight bold
			text-align center
			padding 15px 30px
			transition all 200ms ease
			
			&:hover
				color darken(pink2, 15)
				
			+screen-md()
				&:nth-of-type(1)
					margin-left 0 !important

			+screen-sm()
				padding 10px
				
	&--scroll
		position fixed
		max-width unset
		left 0
		right 0
		top 0
		padding-top 10px
		padding-bottom 10px
		z-index 1000
		background-color rgba(black, 0.4)
		animation-duration 500ms
		animation-name fadeInDown
		transition all 300ms ease
		
		&:hover
			background-color rgba(black, 0.8)
			
		.nav__logo
			+screen-md()
				margin-bottom 5px
				text-align center

	&__lang
		+screen-md()
			position absolute !important
			top -55px
			right 15px
</style>