<template>
<div class="app--message" v-wow="{'animateClass': 'app--message_show', 'callback': active, 'scrollContainer': wowContainer}">
	<template v-for="(message, index) in wait">
		<div class="chat__block" :key="'block-' + index">
			<p class="chat__question wow" :class="questionClasses" v-written="{'scrollContainer': wowContainer}"
				v-bind:data-text="message.question"></p>
			<p class="chat__date">{{ message.q_date }}</p>
		</div>
		<div class="chat__block chat__block_show animated" :key="'message-' + index" :class="{'chat__block_hide': !message.show}" v-bind:style="message.transition">
			<p class="chat__answer">{{ message.answer }}</p>
			<p class="chat__date">{{ message.a_date }}</p>
		</div>
		<slot></slot>
	</template>
</div>
</template>

<script>
export default {
	'props' : {
		'question': {
			'type': String
		},
		'questionClasses': {
			'type': String
		},
		'q_date':  {
			'type': String
		},
		'answer': {
			'type': String
		},
		'a_date': {
			'type': String
		},
		'to_next_node': {
			'type': String
		},
		'to_next_class': {
			'type': String
		}
	},
	data: function() {
		return {
			'wait': [{
						'question': this.question,
						'q_date': this.q_date,
						'answer': this.answer,
						'a_date': this.a_date,
						'transition': '',
						'show': false
					}],
			'messages': [],
			'next': this.to_next_node,
			'wowContainer': null
		};
	},

	'methods': {
		active() {
			if (process.browser) {
				this.wait[0].transition = 'animation-delay: ' + (this.wait[0].question.length * 20 + 400) + 'ms';
				this.messages[0] = this.wait[0];
				const next = document.querySelector('.' + this.to_next_node);
				if (next) {
					next.style.animationDelay = (this.wait[0].question.length * 20 + 500) + 'ms';
				}
			}
		}
	},

	created() {
		// this.questionClasses = this.propsQuestionClasses ? this.propsQuestionClasses : '';
		if (process.browser) {		
			const self = this;
			const WOW = require("~/plugins/wow.js").WOW;
			this.wowContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;

			if (self.to_next_class && self.to_next_node) {
				const wow2 = new WOW({
					boxClass:     self.to_next_node,
					animateClass: self.to_next_class,
					offset:       0,
					mobile:       true,
					live:         true,
					callback:     function(box) {},
					scrollContainer: self.wowContainer
				});

				wow2.init();
			}
		}
	}
}
</script>