<template>
	<div class="container">
		<div class="roadmap__row">
			<div class="roadmap__step-vertical step-vertical"  v-wow="{'callback': playRoadmap, offset: 300, animateClass: 'step-vertical_animate'}">
				<div class="step-vertical__content text-center">
					<p class="step-vertical__text">Further geographical development of the project depends solely from our investors.</p>
					<div class="step-vertical__dots step-vertical__dots_left">
						<svg>
							<use xlink:href="#roadmap_dots"></use>
						</svg>
					</div>
				</div>
				<div class="step-vertical__separator"></div>
				<div class="step-vertical__content text-center">
					<p class="step-vertical__text">Countries indicated the most throughout the campaign are going to be prioritized when integrating with new taxi companies.</p>
					<div class="step-vertical__dots step-vertical__dots_right">
						<svg>
							<use xlink:href="#roadmap_dots"></use>
						</svg>
					</div>
				</div>
			</div>
			<div class="roadmap__step-vertical step-vertical">
				<p class="step-vertical__content text-right step-vertical__year">2018</p>
				<div class="step-vertical__separator"></div>
				<div class="step-vertical__content step-vertical__right text-left">
					<p class="step-vertical__title">April - $2,5M</p>
					<ul class="step-vertical__list">
						<li class="step-vertical__item">Stage 1 of cryptocurrency payment system for taxi services development</li>
						<li class="step-vertical__item">Testing of partnership system with selected partners</li>
						<li class="step-vertical__item">Integration with taxi companies in Top-10 indicated countries during ICO</li>
					</ul>
					<div class="step-vertical__dots step-vertical__dots_right">
						<svg>
							<use xlink:href="#roadmap_dots"></use>
						</svg>
					</div>
				</div>
			</div>
			<div class="roadmap__step-vertical step-vertical">
				<div class="step-vertical__content step-vertical__left text-left">
					<p class="step-vertical__title">October - $15M</p>
					<ul class="step-vertical__list">
						<li class="step-vertical__item">Stage 2 of cryptocurrency payment system for taxi services development</li>
						<li class="step-vertical__item">Testing of partnership system with selected partners</li>
						<li class="step-vertical__item">Integration with taxi companies in Top-10 indicated countries during ICO</li>
					</ul>
					<div class="step-vertical__dots step-vertical__dots_left">
						<svg>
							<use xlink:href="#roadmap_dots"></use>
						</svg>
					</div>
				</div>
				<div class="step-vertical__separator"></div>
				<p class="step-vertical__content text-left step-vertical__year">2018</p>
			</div>
			<div class="roadmap__step-vertical step-vertical">
				<p class="step-vertical__content text-right step-vertical__year">2019</p>
				<div class="step-vertical__separator"></div>
				<div class="step-vertical__content step-vertical__right text-left">
					<p class="step-vertical__title">March - $2,5M</p>
					<ul class="step-vertical__list">
						<li class="step-vertical__item">Stage 3 of cryptocurrency payment system for taxi services development</li>
						<li class="step-vertical__item">Testing of partnership system with selected partners</li>
						<li class="step-vertical__item">Integration with taxi companies in Top-10 indicated countries during ICO</li>
					</ul>
					<div class="step-vertical__dots step-vertical__dots_right">
						<svg>
							<use xlink:href="#roadmap_dots"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
		}
	},
	methods: {
		playRoadmap (box) {
			setTimeout(()=> {
				if (box.nextElementSibling) {
					let WOW = require('~/plugins/wow.js').WOW;
					const addClass = 'wow-' + Math.floor(Math.random() * 10000);
					const animateClass = 'step-vertical_animate';
					const callback = this.playRoadmap;
					const scrollContainer = null;
					box.nextElementSibling.classList.add(addClass);
					const offset = 0;
					
					const wow = new WOW({
						"boxClass":     addClass,
						"animateClass": animateClass,
						"offset":       offset,
						"mobile":       true,
						"live":         true,
						"scrollContainer": scrollContainer,
						"callback": callback
					});

					// box.nextElementSibling.wowInit = wow;
					wow.init();
				}
			}, 2000);
		},
		myAnimate(property) {
			setTimeout(()=>{
				this.stage2 = true;
			}, 3000)
		},
		newTimeout(property) {
			return new Promise(result => {
				setTimeout( i =>{
					result = property ? true : false;
				}, 3000)
			})
		}
	},
	computed: {
		stage2() {
			this.myAnimate(this.isActive);
			return false;
		},
		stage3() {
			return this.stage2 ? true : false;
		},
		stage4() {
			return this.stage3 ? true : false;
		}
	}
}
</script>

<style lang="stylus">
@import '../assets/1_helpers.styl'
@import '../assets/step-vertical.styl'
</style>