<template>
<div class="container">
	<div class="roadmap__row">
		<template v-for="(tab, index) in tabs">
			<button class="roadmap__item-trigger"
					:class="{'roadmap__item-trigger_active': tab.active}"
					v-on:click="active(index)"
					:key="'button-' + index">
				{{ tab.name }}
			</button>
			<svg class="roadmap__item-separator" :key="'svg-' + index">
				<use xlink:href="#red-dots"></use>
			</svg>
		</template>
	</div>
	<template v-for="(tab,key) in tabs">
		<ul class="roadmap__info-holder" v-if="tab.active" :key="key">
			<li class="roadmap__item-info" v-for="(info, index) in tab.info" :key="index">
				{{ info }}
			</li>
		</ul>
	</template>
</div>
</template>

<script>
export default {
	data() {
		return {
			'tabs': [{
						'name': 'March, 2018 - $2,5M',
						'active': true,
						'info': [
								'Stage 1 of cryptocurrency payment system for taxi services development',
								'Testing of partnership system with selected partners',
								'Integration with taxi companies in Top-10 indicated countries during ICO'
							]
					}, {
						'name': 'October, 2018 - $15M',
						'active': false,
						'info': [
								'2 Stage 1 of cryptocurrency payment system for taxi services development',
								'2 Testing of partnership system with selected partners',
								'2 Integration with taxi companies in Top-10 indicated countries during ICO'
							]
					}, {
						'name': 'March, 2018 - $2,5M',
						'active': false,
						'info': [
								'3 Stage 1 of cryptocurrency payment system for taxi services development',
								'3 Testing of partnership system with selected partners',
								'3 Integration with taxi companies in Top-10 indicated countries during ICO'
							]
					}]
		};
	},
	'methods': {
		active(index) {
			if( !this.tabs[index].active ){
				this.tabs.forEach((item) => {
					item.active = false;
				});
				this.tabs[index].active = true;
			}
		}
	}
}
</script>