<template>
<section class="roadmap" id="roadmap">
	<img
		src="~/static/img/elements.png"
		srcset="~/static/img/elements@2x.png 2x, ~/static/img/elements@3x.png 3x"
		class="roadmap__back">
	<div class="roadmap__container">
		<p class="roadmap__title">
			Roadmap
		</p>
	</div>
	<app-roadmap-content />
</section>
</template>

<script>
import AppRoadmapContent from '~/components/AppRoadmapContent.vue';

export default {
	components: {
		"app-roadmap-content": AppRoadmapContent
	}
}
</script>