<template>
	<div class="timer">
		<span><b>ICO in </b> <strong>{{ days | two_digits }}</strong>&nbsp;days
		<i class="timer__separator"> : </i>
		<strong>{{ hours | two_digits }}</strong>&nbsp;hours
		<i class="timer__separator"> : </i>
		<strong>{{ minutes | two_digits }}</strong>&nbsp;minutes
		<i class="timer__separator"> : </i>
		<strong>{{ seconds | two_digits }}</strong>&nbsp;seconds</span>
	</div>
</template>

<script>
import Vue from 'vue';

Vue.filter('two_digits', function (value) {
	if(value.toString().length <= 1)
	{
		return "0"+value.toString();
	}
	return value.toString();
});

export default {
	"props" : {
		"todate" : {
			"type": String
		}
	},
	data() {
		return {
			"date": Math.round((new Date(this.todate)).getTime() / 1000),
			"now": Math.round((new Date()).getTime() / 1000)
		}
	},
	created() {
		setInterval(() => {
			this.now = Math.round((new Date()).getTime() / 1000);
		}, 1000);
	},
	"computed": {
		seconds() {
			return (this.date - this.now) % 60;
		},

		minutes() {
			return Math.round((this.date - this.now) / 60) % 60;
		},

		hours() {
			return Math.round((this.date - this.now) / 60 / 60) % 24;
		},

		days() {
			return Math.round((this.date - this.now) / 60 / 60 / 24);
		}
	}
}
</script>

<style lang="stylus">
@import '../assets/1_helpers.styl'

.timer
	display inline-block
	line-height 1
	padding 25px
	color rgba(white, .6)
	text-align center
	width 100%

	span
		font-size 18px
		color #9b9b9b

		b
			color white

		strong
			color pink2

	&__separator
		color white
		font-style normal
</style>
