<template>
<div class="message">
	<div class="message__logo">
		<img class="message__logo-img" :src="logoImg">
	</div>
	<div class="message__contains" v-wow="{'callback': activeM, 'scrollContainer': scrollContainer}">
		<transition name="message__item" v-for="(message, index) in messages" :key="index">
			<p class="message__item" v-if="message.show" v-html="message.text"></p>
		</transition>
		<p class="message__time">{{ messageTime }}</p>
	</div>
</div>
</template>

<script>
export default {
	"props" : {
		"inputMessages" : {
			"type": Array
		},
		"active": {
			"type": Function
		},
		"logo": {
			"type": String
		},
		"time": {
			"type": String
		},
		"timeShow": {
			"type": Boolean
		}
	},
	data() {
		return {
			"messages": null,
			"logoImg": null,
			"messageTime": null,
			"messageTimeShow": false,
			"scrollContainer": null
		}
	},
	"watch": {
		inputMessages: function(val) {
			this.messages = val;
		},
		time: function(val) {
			this.messageTime = val;
		},
		timeShow: function(val) {
			this.messageTimeShow = val;
		}
	},
	created() {
		this.messages = this.inputMessages;
		this.activeM = this.active;
		this.logoImg = this.logo;
		this.messageTime = this.time;
		this.messageTimeShow = this.timeShow;
		if (process.browser) {
			this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;
		}
	},
	"methods": {
		"activeM": function(){}
	}
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.message
	max-width 575px
	width calc(100% - 30px)
	position absolute
	bottom 50px
	transform translateX(50%)
	right 50%
	display flex
	align-items flex-end
	flex-direction row
	z-index 3

	&__logo
		margin-right 15px

	&__contains
		display flex
		flex-direction column
		flex-wrap nowrap
		position relative

	&__time
		opacity 0.4
		font-size 8px
		font-weight bold
		line-height 1
		color white
		position absolute
		margin-bottom 0
		bottom 0
		left 20px

	&__item
		font-size 18px
		line-height 1.33
		color #5e3e5a
		margin-bottom 15px
		border-radius 20px
		padding 12px 20px
		backdrop-filter blur(5px)
		background-color rgba(255, 255, 255, 0.76)

		&:last-child
			margin-bottom 0

		&-enter-active
			animation showMessage-in .3s

@keyframes showMessage-in
	0%
		transform translateY(100%) translateX(-100%) scale(0)
		opacity 0

	100%
		transform translateY(0%) translateX(0%) scale(1)
		opacity 1
</style>
