<template>
<div class="container-fluid solution" id="solution">
	<div class="row solution__row">
		<div class="col-12 solution__col" id="solution__left">
			<div class="solution__left">
				<p class="solution__title">
					Problem
				</p>
				<img class="solution__left-img" src="~/static/img/taxi-company@2x.png">
				<img class="solution__left-img" src="~/static/img/fuckin-uber@2x.png">
			</div>
			<app-solution-message
				:inputMessages="leftMessages"
				:logo="left.logo"
				:time="left.time"
				:timeShow="left.timeShow" />
		</div>
		<div class="col-6 solution__col" id="solution__right">
			<div class="solution__right">
				<p class="solution__title">
					Solution
				</p>
				<div class="solution__right-gallery">
					<img class="solution__right-img" src="~/static/img/partnership-happy@2x.png">
					<transition name="circle">
						<img class="solution__right-img--abs" src="~/static/img/partnership-happy@2x.png">
					</transition>
					<transition name="circle">
						<img class="solution__right-img--abs" src="~/static/img/partnership-happy@2x.png">
					</transition>
					<transition name="circle">
						<img class="solution__right-img--abs" src="~/static/img/partnership-happy@2x.png">
					</transition>
				</div>
			</div>
			<app-solution-message
				:inputMessages="rightMessages"
				:logo="right.logo"
				:time="right.time"
				:timeShow="right.timeShow" />
		</div>
	</div>
	<img src="~/static/img/map.png" class="solution__bgi">
	<div v-wow="{callback: onWheel, offset: activateOffset, scrollContainer: scrollContainer}"></div>
</div>
</template>

<script>
import AppSolutionMessage from "~/components/index/solution/AppSolutionMessage";
// import { TweenMax } from "gsap";

export default {
	components: {
		AppSolutionMessage
	},
	data() {
		return {
            addWheel: false,
            step: 1,
            scrollContainer: null,
            activateOffset: null,
			"left": {
				"logo": require("~/static/img/logo-message-problem.svg"),
				"time": null,
				"timeShow": false
			},
			"right": {
				"logo": require("~/static/img/logo-message-solution.svg"),
				"time": null,
				"timeShow": false
			},
			"leftMessages": [
				{
					"text": "Due to the global expansion of Uber and the international alliance Lyft has formed (Lyft, Grab, Ola, Didi), more than <b>5000 taxi </b>apps around the world are under threat to lose money invested in them and become irrelevant.",
					"show": false
				},
				{
					"text": "Only way to stay ahead of this is to consolidate all taxi apps into one global taxi app player and start off first by cross leveraging on international travellers bookings.",
					"show": false
				}
			],
			"rightMessages": [
				{
					"text": "Taxi app partnership will allow their clients to use their favorite taxi apps anywhere, including the territory outside of their service zone.",
					"show": false
				},
				{
					"text": "It's the only way to create 3 big players in the market (Uber, Lyft community and <b>Frankly Partnership</b>)",
					"show": false
				}
			]
		}
	},
	created() {
		if (process.browser) {
			this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;

			this.activateOffset = (document.body.offsetWidth < 1251) ? -1000 : -200;
		}
	},
	methods: {
        onWheel: function() {
		if (process.browser && document.body.offsetWidth < 1251) {
            this.leftMessages[0].show = true;
            this.rightMessages[0].show = true;
            this.leftMessages[1].show = true;
            this.rightMessages[1].show = true;
		}
            if (!this.$store.state.scrollMenu && process.browser && document.body.offsetWidth > 1251) {
            	this.$store.commit('changeSolution', true);
                this.$store.commit("toScroll", true);
                this.addWheel = true;
                document.body.style.overflow = "hidden";
                const top = this.$el.offsetTop + this.$el.offsetHeight - window.innerHeight;
                window.scroll({
                    behavior: "smooth",
                    left: 0,
                    top: top
                });

                window.addEventListener("wheel", this.doWhell);
                window.addEventListener("keydown", this.doWhell)
            }
        },
        doWhell: function(event) {
            if (this.addWheel) {
            	event.preventDefault();

            	if (
            		(
            			"keyboardevent" === event.constructor.name.toLowerCase() &&
            			"arrowdown" === event.code.toLowerCase()
            		)
            		||
            		(
            			"wheelevent" === event.constructor.name.toLowerCase()
            		)
            	) {
            		this.animate();
            	}
            }
        },
        animate: function() {
        	this.addWheel = false;
            switch (this.step) {
                case 1:
                    this.left.time = this.timeString();
                    this.left.timeShow = true;
                    this.leftMessages[0].show = true;
                    break;
                case 2:
                    this.left.time = this.timeString();
                    this.leftMessages[1].show = true;
                    break;
                case 3:
                    document.getElementById("solution__left").style.maxWidth = "50%";
                    break;
                case 4:
                    this.right.time = this.timeString();
                    this.right.timeShow = true;
                    this.rightMessages[0].show = true;
                    break;
                case 5:
                    this.right.time = this.timeString();
                    this.rightMessages[1].show = true;
                    break;
                case 6:
                    const right = document.getElementById("solution__right");
                    right.style.maxWidth = "100%";
                    right.style.flexBasis = "100%";
                    right.style.zIndex = "4";
                    right.style.transform = "translateX(-50%)";
                    break;
                default:
                    this.$store.commit("toScroll", false);
	            	this.$store.commit('changeSolution', false);
                    this.addWheel = false;
                    document.body.style.overflow = "";
                    window.removeEventListener("wheel", this.doWhell);
                    window.removeEventListener("keydown", this.doWhell);
                    break;
            }
            setTimeout(() => {
                this.step++;
                this.addWheel = true;
            }, 500);
        },
		timeString() {
			let date = new Date();
			let hours = (date.getHours() > 12) ? (date.getHours() - 12) : date.getHours();
			let m = (date.getHours() > 12) ? "PM" : "AM";
			let minutes = date.getMinutes();
			return "Today, " + hours + ":" + minutes + " " + m;
		}
	},
    destroyed() {
        window.removeEventListener("wheel", this.doWhell);
		window.removeEventListener("keydown", this.doWhell);
		document.body.style.overflow = "";
		this.$store.commit('changeSolution', false);
    }
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.solution
	position relative

	&__bgi
		position absolute
		max-width 1200px
		width 100%
		height calc( 100% - 160px )
		object-fit contain
		top 80px
		left 50%
		transform translateX(-50%)
		z-index 4

	&__row
		flex-wrap nowrap
		overflow hidden

		@media screen and (max-width: 1250px)
			flex-wrap wrap
		
		+fullpage()
			height 100%

	&__col
		padding-top 45px
		padding-bottom 250px
		transition all 800ms ease

		&:nth-of-type(1)
			background-color bg-pink

		&:nth-of-type(2)
			background-color bg-green2
			margin-right auto
		
		+fullpage()
			display flex
			align-items center

		@media screen and (max-width: 1250px)
			max-width 100% !important
			flex-basis 100%

		+screen-xs()
			padding-bottom 360px

	&__title
		text-transform uppercase
		opacity 0.6
		font-size 22px
		font-weight bold
		line-height 1
		letter-spacing 2px
		text-align center
		color white
		margin-bottom 80px

	&__left
		max-width 600px
		margin 0 auto
		text-align center
		z-index 2
		position relative

		&-img
			max-height 320px
			width auto

	&__right
		max-width 600px
		margin 0 auto
		text-align center
		z-index 2
		position relative

		&-img
			max-height 320px
			width auto

			&--abs
				position absolute
				opacity 0.5

				&:nth-of-type(2)
					max-width 60px
					height auto
					top -25px
					right 50px

				&:nth-of-type(3)
					max-width 130px
					height auto
					top 0
					left 20px

				&:nth-of-type(4)
					max-width 100px
					height auto
					top 55%
					left 0
					
				+screen-sm()
					display none

		&-gallery
			position relative
			
			+fullpage()
				padding 0 10rem
</style>
