<template>
	<div class="container">
		<div class="row justify-content-between align-items-center problems__content">
			<template v-for="(tab, index) in tabs">
				<button class="problems__item-trigger"
						:class="{'problems__item-trigger_active': tab.active}"
						v-on:click="active(index)" 
						:key="'button-' + index">
					{{ tab.name }}
				</button>
				<svg class="problems__item-separator" :key="'svg-' + index">
					<use xlink:href="#dots"></use>
				</svg>
			</template>
		</div>
		<ul class="problems__info-holder" v-for="tab in tabs" :key="tab.name" v-if="tab.active">
			<li class="problems__item-info" v-for="(info, index) in tab.info" :key="'p-' + index">
				{{ info }}
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				'tabs': [{
							'name': 'Background',
							'active': true,
							'info': [
									'Frank Taxi Bot and Frankly Partnership have been in development since 2015 and has already attracted sufficient funds from private investors.',
									'We have developed a fully operational taxi ordering system and taxi order sharing system!'
								]
						}, {
							'name': 'Problems',
							'active': false,
							'info': [
									'2 Frank Taxi Bot and Frankly Partnership have been in development since 2015 and has already attracted sufficient funds from private investors.',
									'2 We have developed a fully operational taxi ordering system and taxi order sharing system!'
								]
						}, {
							'name': 'Solutions',
							'active': false,
							'info': [
									'3 Frank Taxi Bot and Frankly Partnership have been in development since 2015 and has already attracted sufficient funds from private investors.',
									'3 We have developed a fully operational taxi ordering system and taxi order sharing system!'
								]
						}]
			};
		},
		'methods': {
			active(index) {
				if( !this.tabs[index].active ){
					this.tabs.forEach((item) => {
						item.active = false;
					});
					this.tabs[index].active = true;
				}
			}
		}
	}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.problems
	background bg-violet
	padding 8em 6em

	+screen-sm()
		padding 5em 1em

	+fullpage()
		display flex
		align-items center

	&__content
		flex-wrap nowrap

		+screen-sm()
			flex-direction column

	&__item-trigger
		background none
		height 2.5em
		padding 0 1.5em
		border 2px solid transparent
		border-radius 1.75em
		color green
		font-size 1.5em
		font-weight bold
		position relative
		cursor pointer
		outline none
		transition all .3s ease

		+screen-sm()
			margin-bottom 10px

		&:hover
			color darken(green, 50%)

		&_active
			border-color green

			&:hover
				cursor default
				color green

		&_active:before
			content ''
			display block
			width 0
			border 15px solid transparent
			border-bottom-color rgba(white, .1)
			margin auto
			position absolute
			left: 0
			right 0
			bottom -1.45em

			+screen-sm()
				display none

	&__item-separator
		width 7.5em
		height .75em

		@media screen and (max-width: 1050px)
			display none

		&:last-of-type
			display none

	&__info-holder
		list-style none
		background rgba(white, .1)
		padding 1.6em 2.5em 1.6em 1.6em
		border-radius 10px
		margin 1.5em 0 0 0
		color white
		font-size 1.375em

		+screen-sm()
			padding 1em

	&__item-info
		display flex

		& + &
			margin-top 1.5em

		&:before
			content url('~/static/img/check.svg')
			margin 4px 1em 0 0
</style>