<template>
	<div>
		<app-sprite/>
		<nuxt/>
	</div>
</template>

<script>
import AppSprite from '~/components/AppSprite.vue';

export default {
  components: {
    AppSprite
  }
}
</script>

<style>

</style>
