<template>
<div class="about-us-using" id="app--about-us-using">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="about-us-using__message">
					<app-single-question
						question="That's neat! But why bother? Can't I just use Uber?"
						q_date="today, 4:32 pm"
						answer="Uber is not everywhere and the number of countries it works in is only decreasing.

Besides, such huge international corporations share a monopoly of taxi business
among themselves, which leaves small regional taxi companies in dirt, with no
chance of independent development or even survival."
						a_date="today, 4:33 pm"
						to_next_node="chat__about-us-success2"
						to_next_class="chat__about-us-success2_show">

			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="chat__about-us-success2">
							<li class="chat__about-us-success_title order-md-1">
								By using Frankly Partnership, <b>Taxi Companies</b>:
							</li>
							<li class="chat__about-us-success_white order-md-2">
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									will have a way to compete with <br/>
									such ride-sharing moguls;
								</span>
							</li>
							<li	class="chat__about-us-success_white order-md-2">
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									can support your local <br/>
									taxi companies;
								</span>
							</li>
							<li class="chat__about-us-success_title order-md-1">
								and <b>You</b>:
							</li>
							<li	class="chat__about-us-success_white order-md-2">
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									won't sacrifice their brand and <br/>
									independence for survival;
								</span>
							</li>
							<li class="chat__about-us-success_white order-md-2">
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									help the industry remain <br/>
									fair and competitive.
								</span>
							</li>
							<svg class="chat__about-us-success_line hide-sm">
								<use xlink:href="#line"></use>
							</svg>
						</ul>
					</div>
				</div>
			</div>

					</app-single-question>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AppQuestion from "~/components/AppQuestion.vue";

export default {
	"components": {
		"app-single-question": AppQuestion
	}
}
</script>

<style lang="stylus">
@import '../../assets/1_helpers.styl'

.about-us-using
	background-color #2b1829
	padding 90px 0 160px
	
	+fullpage()
		padding 120px 0 160px
		
	+screen-sm()
		padding 20px 0
</style>