<template>
<div class="about-us-contacts" id="app--about-us-contacts">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="about-us-contacts__message">
					<app-single-question
						question="You have my vote! When can I finally use it?"
						q_date="today, 4:34 pm"
						answer="Frankly Partnership will be launched in Q4 2018. For updates
and more specific information, subscribe to our newsletter:"
						a_date="today, 4:35 pm"
						to_next_node="input-email"
						to_next_class="input-email_show">

						<a href="/register1" class="signup-btn wow signup-btn_yellow">
							Sign up for a White List
							<svg class="signup-btn__arrow">
								<use xlink:href="#login-arrow"></use>
							</svg>
						</a>

					</app-single-question>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AppQuestion from "~/components/AppQuestion.vue";

export default {
	"components": {
		"app-single-question": AppQuestion
	}
}
</script>

<style lang="stylus">
@import '../../assets/1_helpers.styl'

.about-us-contacts
	background-color bg-eggplant
	padding 90px 0 100px
	height 100%

	+fullpage()
		padding 120px 0 100px

	+screen-sm()
		padding 20px 0
</style>