<template>
<div class="about-us-success" id="app--about-us-success">
	<div class="container">
		<div class="row position-relative">
			<img src="~/static/img/map.png" class="about-us-problems__bg">
			<div class="col-5 hide-md d-flex align-items-center">
				<img src="~/static/img/about-us-success.png" class="mw-100">
			</div>
			<div class="col-lg-7 col-md-12">
				<div class="about-us-success__message">
					<app-single-question
						question="Вопрос?"
						q_date="today, 4:30 pm"
						answer="With Frankly Partnership:"
						a_date="today, 4:31 pm"
						to_next_node="chat__about-us-success"
						to_next_class="chat__about-us-success_show">

						<ul class="chat__about-us-success">
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									No need to switch to a different app;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									No need to spend time on looking for a good taxi service;
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									Know how much you'll spend on the ride; 
								</span>
							</li>
							<li>
								<svg>
									<use xlink:href="#check-green"></use>
								</svg>
								<span>
									No additional fees.
								</span>
							</li>
							<li class="w-100">
								<a href="/register1" class="signup-btn signup-btn_yellow position-relative">
									Sign up for a White List
									<svg class="signup-btn__arrow">
										<use xlink:href="#login-arrow"></use>
									</svg>
								</a>
							</li>
						</ul>

					</app-single-question>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AppQuestion from "~/components/AppQuestion.vue";

export default {
	"components": {
		"app-single-question": AppQuestion
	}
}
</script>

<style lang="stylus">
@import '../../assets/1_helpers.styl'
	
.about-us-success
	background-color bg-green
	padding 90px 0 160px
	
	+fullpage()
		padding 120px 0 160px
		
	+screen-sm()
		padding 20px 0
		
	&__bg
		position absolute
		height 100%
		width 100%
		object-fit contain
</style>