<template>
<header>
	<div class="container-fluid app--header">
		<app-nav />
	</div>
	<div class="container header--home" style="position: relative;">
		<img src="~/static/img/elements.png" srcset="~/static/img/elements@2x.png 2x, ~/static/img/elements@3x.png 3x" class="position-absolute" style="left: 0; top: 0">		
		<div class="row about-us-header" id="app--chat">
			<div class="col-sm-12 col-md-5 about-us-header__image">
				<img
					src="~/static/img/iphone.png"
					srcset="
						~/static/img/iphone@2x.png 2x,
						~/static/img/iphone@3x.png 3x"
					class="">
				<video autoplay loop muted class="hide--mobile">
					<source src="~/static/about-us.mp4" type="video/mp4">
				</video>
				<video loop controls class="show--mobile">
					<source src="~/static/about-us.mp4" type="video/mp4">
				</video>
			</div>

			<app-chat class="col-sm-12 col-md-7" />
		</div>

	</div>
</header>
</template>

<script>
import AppNav from '~/components/AppNav.vue';
import AppChat from '~/components/AppChat.vue';

export default {
	"components": {
		"app-nav": AppNav,
		"app-chat": AppChat
	}
}
</script>

<style lang="stylus">
@import '../../assets/1_helpers.styl'

.about-us-header
	margin-top 60px
	padding-bottom 60px
	
	// @media screen and (max-height: 700px)
	// 	margin-top 10px
	// 	padding-bottom 0px
	
	+screen-sm()
		flex-wrap wrap-reverse
		margin-top 0
	
	&__image
		position relative
		text-align center
		z-index 2
		
		img
			width 100%
			max-width 280px
			height 575px
			
			+screen-sm()
				display none
			
		video
			position absolute
			background-color black
			left 50%
			transform translateX(-50%)
			top 15px
			width 244px
			max-width calc(100% - 66px)
			border-radius 25px
			height 530px
			
			&.show--mobile
				display none
				
				+screen-sm()
					display block
					position relative
					left 0
					top 0
					transform none
					max-width unset
					width 100%
					height auto
					border-radius unset			
				
			&.hide--mobile
				display block
				
				+screen-sm()
					display none
</style>