<template>
<div class="steps" id="app--steps">
	<div class="steps__container">
		<app-single-question
			question="What's Frankly Partnership?"
			q_date="today, 4:24 pm"
			answer="Frankly Partnership allows taxi services to exchange orders all around the globe   🌍"
			a_date="today, 4:25 pm"
			to_next_node="style-scroll"
			to_next_class="style-scroll_show">
		</app-single-question>
	</div>
	<div class="style-scroll animated">
		<div class="steps-block" id="app--steps-block" v-steps>
			<div class="steps-block__tooltip tooltip">
				<div class="tooltip__content">
					<p class="tooltip__num">1</p>
					<div class="tooltip__message">
						<p class="tooltip__description">
							Customer orders a taxi through 
							<span class="tooltip__description_color">
								“Partner app 1”
							</span>
							<br>
							that doesn't work in that location
						</p>
						<div class="tooltip__buttons">
							<button class="tooltip__next">
								Next
							</button>
							<button class="tooltip__cancel">
								Cancel
							</button>
						</div>
					</div>
				</div>
				<div class="tooltip__arrow"></div>
			</div>
			<div class="steps-block__header">
				<div class="step-1" data-step="1">
					<p>
						Через приложение <br/>
						или такси-бота
					</p>
					<svg>
						<use xlink:href="#arrow-1"></use>
					</svg>
				</div>
				<div class="step-2" data-step="2|3">
					<p>
						Деньги отправляются <br/>
						напрямую исполнителю
					</p>
					<svg>
						<use xlink:href="#arrow-2"></use>
					</svg>
				</div>
			</div>
			<div class="steps-block__body">
				<div class="step-1" data-step="1|6">
					<img src="~/static/img/svg_sprite/client.svg">
				</div>
				<div class="step-1-next" data-step="1|6">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-2" data-step="1|2|5|6">
					<svg>
						<use xlink:href="#group-51"></use>
					</svg>
					<svg>
						<use xlink:href="#partner-app"></use>
					</svg>
					<svg>
						<use xlink:href="#logo"></use>
					</svg>
					<div class="text">
						<img src="~/static/img/uk@2x.png">
						<p>Лондон</p>
					</div>
					<ul>
						<li>Партнёрское приложение</li>
						<li>Такси-бот</li>
					</ul>
				</div>
				<div class="step-2-next" data-step="2">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-3" data-step="2|3|4|5">
					<svg>
						<use xlink:href="#partnership-2"></use>
					</svg>
				</div>
				<div class="step-3-next" data-step="3">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-4" data-step="3|4">
					<svg>
						<use xlink:href="#group-51"></use>
					</svg>
					<svg>
						<use xlink:href="#taxi-soft"></use>
					</svg>
					<div class="text">
						<img src="~/static/img/usa@2x.png">
						<p>Нью&nbsp;Йорк</p>
					</div>
					<ul>
						<li>ПО диспетчеризации иностранной такси</li>
					</ul>
				</div>
				<div class="step-4-next" data-step="3">
					<p>
						Заказ
					</p>
					<svg>
						<use xlink:href="#arrow-order-1"></use>
					</svg>
				</div>
				<div class="step-5" data-step="3|6">
					<img src="~/static/img/taxi.svg">
				</div>
			</div>
			<div class="steps-block__footer">
				<div class="step-5" data-step="4">
					<p>
						Заказы отдаются в кредит. При<br>
						достижении кредитного лимита<br>
						происходит автоматическое<br>
						пополнение с кредитной карты<br>
						компании
					</p>
					<svg>
						<use xlink:href="#arrow-3"></use>
					</svg>
				</div>
				<div class="step-6" data-step="5">
					<p>
						Комиссия передающей стороны<br>
						зачисляется на баланс<br>
						автоматический в течение<br>
						24 часов после получения<br>
						оплаты от исполнителя
					</p>
					<svg>
						<use xlink:href="#arrow-3"></use>
					</svg>
				</div>
				<div class="step-all">
					<p>
						<b>Способ оплаты 2</b><br>
						наличными таксисту
					</p>
					<svg>
						<use xlink:href="#arrow-big"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AppQuestion from "~/components/AppQuestion.vue";

export default {
	"components": {
		"app-single-question": AppQuestion
	}
}
</script>

<style lang="stylus">
@import '../../assets/1_helpers.styl'
	
.style-scroll
	overflow-x auto
	overflow-y hidden
	margin 0 auto
	padding-bottom 100px
	
	// @media screen and (max-height: 700px)
	// 	padding-bottom 0
	
	&_show
		animation-fill-mode both
		animation-duration 500ms
		animation-name fadeInLeft
	
	&::-webkit-scrollbar-track
		-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
		border-radius 10px
		background-color #F5F5F5

	&::-webkit-scrollbar
		width 12px
		background-color transparent

	&::-webkit-scrollbar-thumb
		border-radius 10px
		-webkit-box-shadow inset 0 0 6px rgba(0,0,0,.3)
		background-color #D62929

.steps
	padding 120px 0 160px
	background-color bg-violet
	
	// @media screen and (max-height: 780px) 
	// 	padding 20px 0 0
	
	&__container
		width 100%
		margin 0 auto
		padding-right 15px
		padding-left 15px
		
		@media screen and (min-width: 576px)
			max-width 540px
		
		@media screen and (min-width: 768px)
			max-width 720px
		
		@media screen and (min-width: 992px)
			max-width 960px
		
		@media screen and (min-width: 1200px)
			max-width 1140px
			
	&-block
		width 1200px
		padding 0 50px
		margin 65px auto 0
		position relative
		
		@media screen and (max-height: 780px) 
			margin 0 auto
			transform scale(0.9)
		
		&__header
			display flex
			flex-direction row
			align-items flex-end
			margin-bottom 20px
		
			.step-1
				text-align center
				width 27%
				
				p
					font-family Roboto
					font-size 20px
					margin-bottom 0
					font-weight bold
					line-height 1.05
					color white
					opacity 1
					display inline-block
					position relative
					left 20px
					transition all 200ms ease
					
				svg
					height 70px
					transform scaleX(0.8)
					position relative
					left 20px
					color #ed7aaa
					transition all 200ms ease
			
			.step-2
				text-align center
				width 45%
				
				p
					font-family Roboto
					font-size 20px
					margin-bottom 0px
					font-weight bold
					line-height 1.05
					color white
					opacity 1
					transition all 200ms ease
					
				svg
					height 70px
					transform scaleY(1.35)
					width 470px
					position relative
					left 10px
					color #ed7aaa
					transition all 200ms ease
						
		&__body
			display flex
			flex-direction row
			justify-content space-between
			
			div
				width calc( 100% / 9 - 10px )
				position relative
				
				&.step-1
					img
						width 145px
						height 145px
						position absolute
						top 10px
						left -15px
						
				&.step-1-next, &.step-2-next, &.step-3-next, &.step-4-next
					position relative
					display flex
					flex-direction column
					justify-content center
					
					p
						font-family Roboto
						font-size 17px
						font-weight bold
						line-height 1.41
						text-align center
						color #ed7aaa
						margin-bottom 0
						
					svg
						height 18px
						
				&.step-2, &.step-4
					position relative
					display flex
					justify-content center
					
					svg:nth-of-type(1)
						width 80px

					svg:nth-of-type(2)
						position absolute
						width 45px
						height 45px
						left 34px
						top 30px

					svg:nth-of-type(3)
						position absolute
						width 25px
						height 25px
						left 43px
						top 70px
						
					.text
						position absolute
						width 50px
						display flex
						align-items center
						background-color transparent
						justify-content space-around
						top 100px
						
						img
							height 10px
							
						p
							font-size 8px
							font-weight bold
							font-style normal
							font-stretch normal
							line-height 1.13
							letter-spacing normal
							text-align center
							color white
							font-family Roboto
							margin-bottom 0
							
					ul
						position absolute
						background white
						top 150px
						width calc(100% + 25px)
						height 31px
						border-radius 8px
						background-color white
						padding-left 20px
						display flex
						box-shadow 0 0 30px 0 rgba(black, 0.14)
						flex-direction column
						justify-content center
						
						li
							font-family Roboto
							font-size 8px
							font-weight bold
							font-style normal
							font-stretch normal
							line-height 1.5
							letter-spacing normal
							text-align left
							color #5e3e5a
							
				&.step-3
					svg
						height 160px
						width 160px
						position absolute
						left -25px
						top 5px
						
				&.step-5
					img
						position absolute
						left -20px
						top 10px
						
		&__footer
			display flex
			flex-direction row-reverse
			margin-top 102px
			position relative
			
			.step-5, .step-6
				width 260px
				margin-right 290px
				position relative
				
				p
					font-family Roboto
					font-size 14px
					font-weight normal
					font-style normal
					font-stretch normal
					line-height 1.14
					letter-spacing normal
					text-align center
					color #ffffff
					
				svg
					position absolute
					width 100%
					top -118px
					
			.step-6
				margin-right 5px
				
			.step-all
				position absolute
				width 90%
				top -100px
				left 56px
				height 220px
				
				p
					opacity 0.3
					font-family Roboto
					font-size 16px
					font-weight normal
					font-style normal
					font-stretch normal
					line-height 1.19
					letter-spacing normal
					text-align center
					color #ffffff
					position absolute
					bottom -70px
					width 100%
				
				svg
					width 100%
					height 100%
					

@keyframes fadeInLeft
	from
		opacity 0
		transform translate3d(-100%, 0, 0)
	to
		opacity 1
		transform translate3d(0, 0, 0)
</style>