<template>
<div class="container">
	<div class="roadmap__row">
		<div class="roadmap__step-vertical step-vertical"  v-wow="{'callback': playRoadmap, 'offset': 300, 'animateClass': 'step-vertical_animate', 'scrollContainer': scrollContainer}">
			<div class="step-vertical__content text-center">
				<p class="step-vertical__text">Further geographical development of the project depends solely from our investors.</p>
				<div class="step-vertical__dots step-vertical__dots_left">
					<svg>
						<use xlink:href="#roadmap_dots"></use>
					</svg>
				</div>
			</div>
			<div class="step-vertical__separator"></div>
			<div class="step-vertical__content text-center">
				<p class="step-vertical__text">Countries indicated the most throughout the campaign are going to be prioritized when integrating with new taxi companies.</p>
				<div class="step-vertical__dots step-vertical__dots_right">
					<svg>
						<use xlink:href="#roadmap_dots"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="roadmap__step-vertical step-vertical">
			<p class="step-vertical__content text-right step-vertical__year">2018</p>
			<div class="step-vertical__separator"></div>
			<div class="step-vertical__content step-vertical__right text-left">
				<p class="step-vertical__title">April - $2,5M</p>
				<ul class="step-vertical__list">
					<li class="step-vertical__item">Stage 1 of cryptocurrency payment system for taxi services development</li>
					<li class="step-vertical__item">Testing of partnership system with selected partners</li>
					<li class="step-vertical__item">Integration with taxi companies in Top-10 indicated countries during ICO</li>
				</ul>
				<div class="step-vertical__dots step-vertical__dots_right">
					<svg>
						<use xlink:href="#roadmap_dots"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="roadmap__step-vertical step-vertical">
			<div class="step-vertical__content step-vertical__left text-left">
				<p class="step-vertical__title">October - $15M</p>
				<ul class="step-vertical__list">
					<li class="step-vertical__item">Stage 2 of cryptocurrency payment system for taxi services development</li>
					<li class="step-vertical__item">Testing of partnership system with selected partners</li>
					<li class="step-vertical__item">Integration with taxi companies in Top-10 indicated countries during ICO</li>
				</ul>
				<div class="step-vertical__dots step-vertical__dots_left">
					<svg>
						<use xlink:href="#roadmap_dots"></use>
					</svg>
				</div>
			</div>
			<div class="step-vertical__separator"></div>
			<p class="step-vertical__content text-left step-vertical__year">2018</p>
		</div>
		<div class="roadmap__step-vertical step-vertical">
			<p class="step-vertical__content text-right step-vertical__year">2019</p>
			<div class="step-vertical__separator"></div>
			<div class="step-vertical__content step-vertical__right text-left">
				<p class="step-vertical__title">March - $2,5M</p>
				<ul class="step-vertical__list">
					<li class="step-vertical__item">Stage 3 of cryptocurrency payment system for taxi services development</li>
					<li class="step-vertical__item">Testing of partnership system with selected partners</li>
					<li class="step-vertical__item">Integration with taxi companies in Top-10 indicated countries during ICO</li>
				</ul>
				<div class="step-vertical__dots step-vertical__dots_right">
					<svg>
						<use xlink:href="#roadmap_dots"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	data() {
		return {
			scrollContainer: null
		}
	},
	created() {
		if (process.browser) {
			this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;
		}
	},
	methods: {
        playRoadmap(node) {
            setTimeout(() => {
                if (node.nextElementSibling) {
                    const WOW = require('~/plugins/wow.js').WOW;
                    const wowClass = "wow-" + Math.floor(1e4 * Math.random());
                    const playFunc = this.playRoadmap;
                    node.nextElementSibling.classList.add(wowClass);

                    const self = this;
                    const offset = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? -500 : 200;
                    new WOW({
                        boxClass: wowClass,
                        animateClass: "step-vertical_animate",
                        offset: offset,
                        mobile: true,
                        live: true,
                        scrollContainer: self.scrollContainer,
                        callback: playFunc
                    }).init()
                }
            }, 1200);
        },
        myAnimate(t) {
            setTimeout(() => {
                this.stage2 = true;
            }, 3000)
        },
        newTimeout(property) {
			return new Promise((result) => {
				setTimeout( (i) => {
					result = property ? true : false;
				}, 3000);
			});
        }
    },
    computed: {
		stage2() {
			this.myAnimate(this.isActive);
			return false;
		},
		stage3() {
			return this.stage2 ? true : false;
		},
		stage4() {
			return this.stage3 ? true : false;
		}
    }
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.step-vertical
	display flex
	justify-content space-between
	align-items flex-start
	height 300px

	&__content
		position relative
		width 45%
		opacity 0
		transition all .3s ease 1s

	&__dots
		width 48px
		height 12px
		position absolute
		top 0

		svg
			width 100%
			height 100%

		&_left
			right 0

		&_right
			left 0

	&__text
		font-size 18px
		font-weight 700
		line-height 1.39
		color #fff
		width 60%
		margin 0 auto
		opacity 0
		transition all .5s ease

	&__separator
		height 0%
		width 30px
		background hsla(0, 0%, 100%, .1)
		position relative
		bottom 100%
		transition all 1s ease

		&:before
			position absolute
			z-index 2
			content ""
			bottom -2.5em
			left 50%
			transform translateX(-50%)
			width 0
			height 0
			background #fff
			border 0 solid #b9688a
			border-radius 50%
			transition all .3s ease 1s

	&__year
		color #fed91f
		font-size 20px
		font-weight 800
		opacity 0

	&__title
		font-size 20px
		font-weight 800
		color #e56ea0
		line-height 1
		opacity 0

	&__list
		list-style-type none
		padding 0
		opacity 0

	&__right
		padding-left 70px

	&__left
		padding-right 45px

	&__item
		position relative
		padding-left 16px
		color #fff
		font-weight 400
		font-size 18px
		margin-bottom 20px

		&:before
			content ""
			width 4px
			height 4px
			border-radius 50%
			background #e56ea0
			position absolute
			top 20%
			left 0

	&_animate
		.step-vertical__separator
			height 100%

			&:before
				width 60px
				height 60px
				border-width 8px

		.step-vertical__content, .step-vertical__list, .step-vertical__text, .step-vertical__title, .step-vertical__year
			opacity 1

.step-vertical:first-of-type .step-vertical__separator
	background hsla(0, 0%, 100%, 0)
	height 100%

.step-vertical:first-of-type .step-vertical__separator,
.step-vertical:first-of-type .step-vertical__separator:before
	-webkit-transition all 0ms ease
	transition all 0ms ease

.step-vertical:first-of-type .step-vertical__content
	transition all .3s ease
</style>