<template>
<header id="app-header">
	<div class="container-fluid p-0 app--header">
		<app-nav />
	</div>
	<div class="container header--home">
		<div class="row">
			<div class="col-lg-6 col-md-12" style='min-height: 586px'>
				<app-chat class="chat--big" 
					:inputMessages="wait" 
					v-on:endChat="showWhiteListButton = true" 
					v-on:firstMessage="showMap = true"
					v-on:secondMessage="showTimer = true" />
				<app-ico-doc class="show-sm" />
				
				<transition name="enter-left">
					<nuxt-link to="/register1" class="signup-btn signup-btn_yellow" 
						v-if="showWhiteListButton" >
						Sign up for a White List
						<svg class="signup-btn__arrow">
							<use xlink:href="#login-arrow"></use>
						</svg>
					</nuxt-link>
				</transition>
			</div>
			<div class="col-6 map-holder">
				<transition name="enter-top">
					<div v-if="showMap" class="map"></div>
				</transition>
				<transition name="enter-bottom">
					<app-ico-doc v-if="showTimer" />
				</transition>
			</div>
		</div>
	</div>
</header>
</template>

<script>
import AppNav from '~/components/AppNav.vue';
import AppChat from "~/components/AppChat.vue";
import AppIcoDoc from "~/components/index/header/AppIcoDoc.vue";

export default {
	"components": {
		"app-nav": AppNav,
		"app-chat": AppChat,
		"app-ico-doc": AppIcoDoc
	},
	data() {
		return {
			'wait': [
					{
						'question': '',
						'q_date': 'today, 4:20 pm',
						'answer': '<b>Frank Taxi Bot</b> is a friendly <b>chat bot</b> for ordering\r\n taxis from Facebook Messenger.',
						'a_date': 'today, 4:21 pm',
						'transition': '',
						'typing': false
					},
					{
						'question': '',
						'q_date': 'today, 4:21 pm',
						'answer': '<b>Frankly Partnership</b> is an equal community of taxi\r\n companies 🚕 that <b>share orders</b> with each other\r\n around the world! 🌍',
						'a_date': 'today, 4:22 pm',
						'transition': '',
						'typing': false
					},
					{
						'question': '',
						'q_date': 'today, 4:22 pm',
						'answer': 'A new way to disrupt the ride-sharing taxi 🚖\r\n industry and provide an <b>great B2B solution for</b>\r\n taxi companies!',
						'a_date': 'today, 4:23 pm',
						'transition': '',
						'typing': false
					}
				],
			'messages': [],
			showWhiteListButton: false,
			showMap: false,
			showTimer: false
		};
	},
	methods: {
		onEndChat: ()=> {
			this.showWhiteListButton = true;
		}
	}
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'
@import '../../../assets/animations.styl'

.map-holder
	display flex
	flex-direction column
	justify-content flex-start
	
	@media screen and (max-width: 991px)
		display none

	.map
		flex 0 0 67%
		background url('~/static/img/map_with_taxi.png') center center no-repeat
		background-size 100%
</style>