<template>
<div>
	<!-- <h1 class="app-header-wow" v-written data-text="Saving the taxi industry - one company at a time.
		FrankCoin (FRK) - security and exclusive bonuses token.">
	</h1>

	<div class="equal-width">
		<form class="input-email input-email_yellow">
			<input type="email" class="input-email__field" placeholder="Enter your e-mail to subscribe to our newsletter">
			<button type="submit" class="input-email__submit">
				<svg>
					<use xlink:href="#send"></use>
				</svg>
			</button>
		</form>
		<app-timer todate="25 September 2018" />
	</div>

	<nuxt-link to="/register1" class="signup-btn signup-btn_yellow">
		Sign up for a White List
		<svg class="signup-btn__arrow">
			<use xlink:href="#login-arrow"></use>
		</svg>
	</nuxt-link>



	 -->
	<app-chat class="chat--big" :inputMessages="wait" />

	<nuxt-link to="/register1" class="signup-btn signup-btn_yellow">
		Sign up for a White List
		<svg class="signup-btn__arrow">
			<use xlink:href="#login-arrow"></use>
		</svg>
	</nuxt-link>
</div>
</template>

<script>
import AppChat from "~/components/AppChat.vue";
export default {
	"components": {
		AppChat
	},
	data() {
		return {
			'wait': [
					{
						'question': '',
						'q_date': 'today, 4:20 pm',
						'answer': '<b>Frank Taxi Bot</b> is a friendly <b>chat bot</b> for ordering\r\n taxis from Facebook Messenger.',
						'a_date': 'today, 4:21 pm',
						'transition': '',
						'typing': false
					},
					{
						'question': '',
						'q_date': 'today, 4:21 pm',
						'answer': '<b>Frankly Partnership</b> is an equal community of taxi\r\n companies 🚕 that <b>share orders</b> with each other\r\n around the world! 🌍',
						'a_date': 'today, 4:22 pm',
						'transition': '',
						'typing': false
					},
					{
						'question': '',
						'q_date': 'today, 4:22 pm',
						'answer': 'A new way to disrupt the ride-sharing taxi 🚖\r\n industry and provide an <b>great B2B solution for</b>\r\n taxi companies!',
						'a_date': 'today, 4:23 pm',
						'transition': '',
						'typing': false
					}
				],
			'messages': []
		};
	}
};
</script>

<style lang="stylus">
</style>