<template>
<div class="ico-doc">
	<app-timer class="ico-doc__timer" todate="25 September 2018" />
	<div class="ico-doc__docs docs">
		<a class="docs__item" href="#">
			<svg class="docs__icon">
				<use xlink:href="#pdf"></use>
			</svg>
			<span class="docs__text">
				Download White Paper EN
			</span>
		</a>
		<a class="docs__item" href="#">
			<svg class="docs__icon">
				<use xlink:href="#pdf"></use>
			</svg>
			<span class="docs__text">
				Download Business Model EN
			</span>
		</a>
	</div>
</div>
</template>

<script>
import AppTimer from '~/components/AppTimer.vue';

export default {
	"components": {
		"app-timer": AppTimer
	}
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'
		
.ico-doc
	max-width 500px
	margin 0 auto
	background #1f0e42
	border-radius 10px
	min-width 495px
	
	+screen-md()
		margin 0
	
	&__timer
		border-bottom 2px solid #4a3d74
				
.docs
	display flex
	flex-wrap nowrap
	position relative
	z-index 10

	&__item
		display block
		width 100%
		padding 15px 0 25px 25px
		line-height 1
		
		&:first-of-type
			border-right 2px solid #4a3d74

	&__icon
		display block
		width 2.5em
		height 2.5em
		margin-bottom 10px
		color pink2
		cursor pointer

	&__text
		padding-bottom 3px
		border-bottom 1px solid pink2
		font-size .875em
		color white
		transition all .3s ease
		line-height 1.6

	.docs:hover .doc__text
		border-bottom none
</style>