<template>
	<div class="ico ico__bonuses" id="app-ico-bonuses">
		<p class="ico__stitle">Bonuses</p>
		<div class="ico__graph ico__graph_start">
			<div class="graph graph__day1 graph__day1_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line"></div>
				<p class="graph__title">Day 1</p>
				<p class="graph__percent">+25%</p>
			</div>
			<div class="graph graph__day27 graph__day27_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line"></div>
				<p class="graph__title">Day 2-7</p>
				<p class="graph__percent">+20%</p>
			</div>
			<div class="graph graph__week2 graph__week2_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line"></div>
				<p class="graph__title">Week 2</p>
				<p class="graph__percent">+10%</p>
			</div>
			<div class="graph graph__week34 graph__week34_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line"></div>
				<p class="graph__title">Week 3-4</p>
				<p class="graph__percent">+5%</p>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				scrollContainer: null
			}
		},
		created() {
			if (process.browser) {
				this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;
			}
		}
	}
</script>