<template>
<div>
	<div class="ico" id="ico">
		<img
			src="~/static/img/elements.png"
			srcset="~/static/img/elements@2x.png 2x, ~/static/img/elements@3x.png 3x"
			class="ico__back">
		<p class="ico__title">
			ICO
		</p>
		<div class="ico__shortly">
			<div class="ico__brand">
				<img src="~/static/img/coin.png">
			</div>
			<p class="ico__shortly-story">
				FrankCoin (FRK) - security token, which total count represents 15% of company's shares. By the end of each financial year, 15% of income will be distributed throughout token holders ETH wallets. All unsold tokens will be destroyed.
			</p>
		</div>
	</div>
	<app-number>
		<button class="ico__new-section" :class="{'ico__new-section--active': show}" @click="active()"></button>
	</app-number>
	<transition name="InDown">
		<app-ico-structure v-if="show" />
	</transition>
	<transition name="InDown">
		<app-ico-bonuses v-if="show" />
	</transition>
</div>
</template>

<script>
import AppNumber from '~/components/index/ico/AppNumber.vue';
import AppIcoStructure from '~/components/index/ico/AppIcoStructure.vue';
import AppIcoBonuses from '~/components/index/ico/AppIcoBonuses.vue';

export default {
	"components": {
		"app-number": AppNumber,
		"app-ico-structure": AppIcoStructure,
		"app-ico-bonuses": AppIcoBonuses
	},
	data() {
		return {
			"show": false
		}
	},
	"methods": {
		active() {
			this.show = !this.show;
		}
	}
}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.ico
	background-color #3f273c
	padding 4em 5em
	position relative
	
	&#ico
		z-index 1

	+screen-md()
		padding 2em 1em

	&__new-section
		background-color transparent
		border none
		outline none !important
		padding 0
		border 5em solid transparent
		border-top 2em solid #4c2f49
		position absolute
		top 100%
		left calc(50% - 5em)
		z-index 1

		&:hover
			cursor pointer
		
		&::before
			content ""
			color lighten(#4c2f49, 10)
			position absolute
			width 2px
			height 2.3em
			background currentColor
			opacity 1
			bottom 0
			left -4em
			transform-origin top
			transform rotate(-68deg) scaleY(2)
			animation ButtonAnimate 1.5s infinite
			box-shadow 5px 0px 0 0px currentColor
		
		&::after
			content ""
			color lighten(#4c2f49, 10)
			position absolute
			width 2px
			height 2.3em
			background currentColor
			opacity 1
			bottom 0
			left 4em
			transform-origin top
			transform rotate(68deg) scaleY(2)
			animation ButtonAnimateReverse 1.5s infinite
			box-shadow -5px 0px 0 0px currentColor
		
		&--active
			&::after, &::before
				display none

	&__title 
		text-align center
		font-size 26px
		line-height 1
		color white

	&__back
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
		object-fit contain
		z-index 1

		+screen-sm()
			display none

	&__shortly
		display flex
		align-items center
		justify-content space-between
		position relative
		z-index 2

		&-story
			color white
			font-size 22px
			line-height 1.32
			margin-bottom 0

	&__brand
		margin-right 30px

		+screen-sm()
			display none

		img 
			width 100%

	&__stitle
		text-align center
		font-size 20px
		color white
		line-height 1

	&__graph
		display flex
		align-items flex-start
		justify-content flex-end
		flex-wrap nowrap
		padding 0 0 60px
		margin: 0 1.5em;
		border-bottom 1px solid darken(white, 70)

		+screen-sm()
			margin 0

		&_start
			justify-content flex-start

	&__structure
		padding-bottom 0

	&__bonuses
		& ^[0]__graph
			border-bottom none
			padding-bottom 0

.InDown-enter-active
	animation InDown-in 300ms

.InDown-leave-active
	animation InDown-in 450ms reverse

@keyframes InDown-in
	0%
		transform translateY(-200%)

	100%
		transform translateY(0%)

@keyframes ButtonAnimate
	0%
		transform rotate(-68deg) scaleY(0)
		opacity 1
	50%
		opacity 1
	100%
		transform rotate(-68deg) scaleY(2)
		opacity 0

@keyframes ButtonAnimateReverse
	0%
		transform rotate(68deg) scaleY(0)
		opacity 1
	50%
		opacity 1
	100%
		transform rotate(68deg) scaleY(2)
		opacity 0
</style>