<template>
	<div class="ico ico__structure">
		<p class="ico__stitle">ICO Structure</p>
		<div class="ico__graph">
			<div class="graph graph__bounty graph__bounty_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line"></div>
				<div class="graph__dot"></div>
				<p class="graph__title">Bounty</p>
				<p class="graph__percent">2%</p>
			</div>
			<div class="graph graph__FT graph__FT_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line"></div>
				<div class="graph__dot"></div>
				<p class="graph__title">Founders & Team</p>
				<p class="graph__percent">8%</p>
			</div>
			<div class="graph graph__bakers graph__bakers_active" v-wow="{animateClass: 'animate', scrollContainer: scrollContainer}">
				<div class="graph__line graph__line_animate"></div>
				<div class="graph__dot"></div>
				<p class="graph__title">Bakers</p>
				<p class="graph__percent">90%</p>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				scrollContainer: null
			}
		},
		created() {
			if (process.browser) {
				this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;
			}
		}
	}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.graph
	display flex
	flex-direction column
	align-items flex-start
	justify-content flex-start
	border-right 1px dashed transparent
	height 140px
	overflow hidden
	
	+screen-xs()
		height 160px
	
	.ico__bonuses &
		max-height 122px
	
	&:nth-last-of-type(1)
		border-right none
		padding-right 0.5rem
		
		& ^[0]__line
			border-radius 0 27px 27px 0
	
	&:nth-of-type(1)
		padding-left 0.5rem
		
		& ^[0]__line
			border-radius 27px 0 0 27px

	&__line
		width 100%
		height 25px
		background-color white
		margin-bottom 30px
		transition all 0.5s	ease
		min-height 25px
		box-shadow 0 0 0px 0.5rem rgba(0,0,0,0.21)
		margin-top 0.5rem
		
		&_animate
			animation 2s fillGraph
		
	&__dot
		min-width 10px
		min-height 10px
		background-color white
		border-radius 50%
		margin-bottom 5px

	&__title
		font-size 16px
		color white
		margin-bottom 3px
		
	&__percent
		font-size 16px
		color white
		font-weight bold

	&__title, &__dot, &__percent
		margin-left 4%

	&__bounty
		width 0%
		transition width 900ms 2300ms ease, border-right-color 300ms 2100ms ease
		border-right-color transparent !important
		
		&_active
			
			& ^[0]__line, & ^[0]__dot
				background #ff671b
				
			& ^[0]__title
				color #ff671b
				opacity 0
				transition all 300ms 3100ms ease

			& ^[0]__dot, & ^[0]__percent
				opacity 0
				transition all 300ms 3100ms ease
				
		&.animate
			width 8%
			border-right-color white !important
			
			+screen-sm()
				width calc( 100% / 3 )
		
			& ^[0]__dot, & ^[0]__percent, & ^[0]__title
				opacity 1
	
	&__FT
		width 0%
		transition width 900ms 1200ms ease, border-right-color 300ms 920ms ease
		border-right-color transparent !important

		&_active
			& ^[0]__line, & ^[0]__dot
				background #fed91f
				
			& ^[0]__title
				color #fed91f
				opacity 0
				transition all 300ms 2000ms ease

			& ^[0]__dot, & ^[0]__percent
				opacity 0
				transition all 300ms 2000ms ease
				
		&.animate
			width 15%
			border-right-color white !important
			
			+screen-sm()
				width calc( 100% / 3 )
		
			& ^[0]__dot, & ^[0]__percent, & ^[0]__title
				opacity 1
			
	&__bakers
		width 0%
		transition width 900ms ease
		&_active
		
			& ^[0]__line, & ^[0]__dot
				background #4a90e2

			& ^[0]__dot, & ^[0]__percent
				opacity 0
				transition all 300ms 900ms ease
		
			& ^[0]__title
				color #4a90e2
				opacity 0
				transition all 300ms 900ms ease
		
		&.animate
			width 77%
			
			+screen-sm()
				width calc( 100% / 3 )
		
			& ^[0]__dot, & ^[0]__percent, & ^[0]__title
				opacity 1
	
	&__day1, &__day27, &__week2, &__week34
		width 0%
		
	&__day1
		transition width 900ms ease, border-right-color 300ms 900ms ease
		border-right-color transparent !important

		&_active
			& ^[0]__line, & ^[0]__dot
				background #50e3c2
			& ^[0]__title
				color #50e3c2
			
			& ^[0]__title, & ^[0]__percent
				transition opacity 200ms 900ms ease
				opacity 0
				
		&.animate
			width 25%
			border-right-color white !important
			
			& ^[0]__title, & ^[0]__percent
				opacity 1

	&__day27
		transition width 900ms 1200ms ease, border-right-color 300ms 2100ms ease
		border-right-color transparent !important

		& ^[0]__line, & ^[0]__dot
			background darken(#50e3c2, 20)
		& ^[0]__title
			color darken(#50e3c2, 20)
			
		& ^[0]__title, & ^[0]__percent
			transition opacity 400ms 2100ms ease
			opacity 0
				
		&.animate
			width 25%
			border-right-color white !important
			
			& ^[0]__title, & ^[0]__percent
				opacity 1

	&__week2
		transition width 900ms 2400ms ease, border-right-color 300ms 3300ms ease
		border-right-color transparent !important
		
		& ^[0]__line, & ^[0]__dot
			background #fed91f
		& ^[0]__title
			color #fed91f
			
		& ^[0]__title, & ^[0]__percent
			transition opacity 200ms 3300ms ease
			opacity 0
				
		&.animate
			width 25%
			border-right-color white !important
			
			& ^[0]__title, & ^[0]__percent
				opacity 1
			
	&__week34
		transition width 900ms 3600ms ease
		border-right-color transparent !important
		
		& ^[0]__line, & ^[0]__dot
			background #ff671b
		& ^[0]__title
			color #ff671b
			
		& ^[0]__title, & ^[0]__percent
			transition opacity 200ms 4500ms ease
			opacity 0
				
		&.animate
			width 25%
			border-right-color white !important
			
			& ^[0]__title, & ^[0]__percent
				opacity 1
</style>