<template>
<ul class="numbers step-by-step" v-wow="{scrollContainer: scrollContainer}">
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Tokens Issued:</p>
			<p class="numbers__value">105 000 000 FRK</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">1st Token Sale:</p>
			<p class="numbers__value">11 550 000 FRK</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Soft Cap:</p>
			<p class="numbers__value">$2 505 000</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Hard Cap:</p>
			<p class="numbers__value">$4 000 000</p>
		</div>
	</li>
	<li class="numbers__item">
		<div class="numbers__wrap">
			<p class="numbers__title">Price per 1 FRK:</p>
			<p class="numbers__value">$0,21</p>
		</div>
	</li>
	<slot></slot>
</ul>
</template>

<script>
	export default {
		data() {
			return {
				scrollContainer: null
			}
		},
		created() {
			if (process.browser) {
				this.scrollContainer = (document.body.offsetWidth > 1200 && window.innerHeight > 900) ? '.fullpage' : null;
			}
		}
	}
</script>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.numbers
	background-color #4c2f49
	padding 3.4em 5em
	list-style none
	display flex
	align-items center
	justify-content space-between
	flex-wrap nowrap
	margin-bottom 0
	position relative
	z-index 1
	
	@media screen and (max-width: 1300px)
		flex-wrap wrap
		justify-content center
		
	@media screen and (max-width: 900px)
		padding 2em 1em 0
	
	&__item
		border-right 2px solid darken(white, 50)
		padding 0 1.5em
		width calc(100% / 5)
		opacity 0
		
		@media screen and (max-width: 1300px)
			flex-basis 230px
		
		&:nth-last-of-type(1)
			border-right none
		
		&:nth-of-type(1)
			padding-left 0
		
		@media screen and (max-width: 1300px)
			margin-bottom 40px
			text-align center
			padding 0 1em
			border-right 1px solid darken(white, 50)
			border-left 1px solid darken(white, 50)
		
			&:nth-last-of-type(1)
				border-right 1px solid darken(white, 50)
			
			&:nth-of-type(1)
				padding 0 1em
		
	&__title
		color #fed91f
		font-size 16px
		line-height 1.25
		margin-bottom 10px
		
	&__value
		color #50e3c2
		font-size 23px
		line-height 0.87
		margin-bottom 0
		font-weight bold
		
	&__wrap
		width fit-content
		margin 0 auto
		
	&.animated
		
		.numbers__item
			
			&:nth-of-type(1)
				transition opacity 500ms ease
				opacity 1
			
			&:nth-of-type(2)
				transition opacity 500ms 500ms ease
				opacity 1
			
			&:nth-of-type(3)
				transition opacity 500ms 1000ms ease
				opacity 1
			
			&:nth-of-type(4)
				transition opacity 500ms 1500ms ease
				opacity 1
			
			&:nth-of-type(5)
				transition opacity 500ms 2000ms ease
				opacity 1
</style>