<template>
	<section class="about-video" v-youtube-video="{'key': 'D4Zozbw0wYE'}">
		<h2 class="about-video__title">About Frank</h2>
		<button class="about-video__play-btn">
			<svg>
				<use xlink:href="#play"></use>
			</svg>
		</button>
	</section>
</template>

<style lang="stylus">
@import '../../../assets/1_helpers.styl'

.about-video
  background rgba(black, .4)
  height calc(100vw * 9 / 16 - 10px)
  text-align center
  background-position center
  background-size cover
  position relative
  
  &:hover
  	cursor pointer

  &__title
    padding-top 3.5em
    color white

  &__play-btn
    background none
    border none
    outline none
    // margin-top 8em
    cursor pointer
    transition all .3s ease
    position absolute
    top 50%
    transform translateY(-50%) translateX(-50%)
    left 50%

    & svg
      width 7.5em
      height 7.5em
    
      &:hover
        filter saturate(5)
</style>