<template>
<div>
	<header>
		<div class="container">
			<app-nav />

			<div class="success-send">
				<div class="success-send__message">
					<svg>
						<use xlink:href="#sent"></use>
					</svg>
					
					<p class="success-send__title">
						Thank you!
					</p>

					<p class="success-send__description">
						A verification email was sent to your email address to complete your sign up.
					</p>

					<p class="success-send__description">
						Confirm your authenticity and gain access.
					</p>

					<button class="success-send__button">
						Great thanks
					</button>
				</div>
			</div>
		</div>
	</header>
	<app-footer />
</div>
</template>

<script>
import AppFooter from "~/components/AppFooter.vue";
import AppNav from "~/components/AppNav.vue";

export default {
	components: {
		"app-footer": AppFooter,
		"app-nav": AppNav
	}
}
</script>